.portlet-commerce-product-definitions {
	textarea.form-control {
		height: 70px;
	}

	.main-content-nav > li.active {
		font-weight: bold;
	}

	.product-definitions-container {
		padding-top: 2rem;
	}

	.commerce-product-option-editor {
		margin-top: 20px;

		.section-header {
			font-size: 1.2rem;

			.btn-primary {
				float: right;
			}
		}
	}

	.product-definition-option-rel-button-row {
		.btn {
			margin-right: 5px;
		}
	}

	.sku-options-panel {
		.panel-title {
			padding: 0.75rem 1.25rem;
		}
	}

	#carousel-product-definitions {
		position: relative;

		.carousel-control {
			color: #000;
			position: absolute;
		}

		.carousel-control-left {
			left: 5px;
			top: 5px;
		}

		.carousel-control-right {
			right: 5px;
			top: 5px;
		}

		.carousel-label {
			color: #414456;
			font-size: 12px;
			left: 0;
			position: absolute;
			right: 0;
			text-align: center;
			top: 5px;
		}

		dt.h5 {
			color: #6B6C7E;
		}

		.icon-monospaced {
			color: #6B6C7E;
		}

		.nav-tabs-default > .active > a {
			font-weight: 600;
		}

		.sidebar-header {
			padding-top: 40px;
		}

		.taglib-asset-categories-summary {
			color: #6B6C7E;
		}

		.uppercase {
			text-transform: uppercase;
		}
	}

	.product-detail-header {
		background-color: #FFF;
	}
}

.definition-toolbar-management-bar {
	.management-bar {
		margin-bottom: 0;
	}
}

.definition-toolbar-filter {
	background-color: #FFF;
	margin-top: -1.25rem;

	.label {
		display: inline;
		margin-right: 10px;
	}

	.filter-selector {
		padding-bottom: 1rem;
		padding-top: 1rem;

		&.form-inline {
			margin-bottom: 0;
		}

		label {
			font-weight: normal;
		}

		select {
			margin-left: 1rem;
		}

		.filter-selector-select {
			margin-right: 1rem;
		}

		.filter-select {
			margin-right: 1rem;
		}

		.categoriesselector {
			display: inline-block;
			vertical-align: middle;

			.categoriesselector-content {
				ul {
					margin-bottom: 0;
				}
			}
		}
	}

	.filter-list {
		border-color: #F1F2F5;
		border-style: solid;
		border-width: 1px 0 0;
		padding-bottom: 1rem;
		padding-top: 1rem;

		p {
			margin-bottom: 0;
		}
	}
}