@import "components/navbars";
@import "components/product-detail";
@import "components/widget";
@import "portlet/portlet_decorators";
@import "portlet/portlet_hello_world";

// EasyZoom core styles

.easyzoom {
	position: relative;

	// 'Shrink-wrap' the element

	display: inline-block;
	*display: inline;
	*zoom: 1;

	.is-error img {
		cursor: not-allowed;
	}

	.is-loading img {
		cursor: progress;
	}

	.is-ready img {
		cursor: crosshair;
	}

	& > img {
		vertical-align: bottom;
	}
}

.easyzoom-flyout {
	position:absolute;
	background: #FFF;
	overflow: hidden;
	z-index: 100;
}

.easyzoom-notice {
	background: #FFF;
	box-shadow: 0 0 10px #888;
	left: 50%;
	line-height: 2em;
	margin: -1em 0 0 -5em;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 10em;
	z-index: 150;
}

// EasyZoom layout variations

.easyzoom--adjacent .easyzoom-flyout {
	height: 100%;
	left: 0;
	margin-left: 20px;
	top: 0;
	width: 100%;
}

.easyzoom--overlay .easyzoom-flyout {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

// Breccia

.product-detail-image-widget {
	.easyzoom--adjacent {
		.easyzoom-flyout {
			margin-left: 0;

			@include media-breakpoint-up(lg) {
				border: 1px solid #CCC;
				border-radius: $border-radius;
				box-shadow: 0 1px 10px -4px rgba(0, 0, 0, 0.5);
				height: 125%;
				left: 100%;
				margin-left: 1rem;
				top: -12.5%;
				width: 150%;
			}
		}
	}

	.product-detail-image {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

@keyframes animBounce {
	0% {
		opacity: 0.5;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		transform: scale3d(0.9, 0.9, 0.9);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		transform: scale3d(0.97, 0.97, 0.97);
	}

	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes animUp {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.animBounce {
	animation-duration: 0.7s;
	animation-name: animBounce;
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transform-origin: center;

	.sticker {
		animation-duration: 0.5s;
		animation-name: animUp;
		animation-timing-function: ease;
	}
}

// Autofit Padded (Not included until Clay v2.0.0-rc.12)

.autofit-padded {
	> .autofit-col {
		padding-bottom: 0.25rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		padding-top: 0.25rem;
	}
}

.autofit-padded-no-gutters-x {
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	width: auto;

	> .autofit-col {
		padding-bottom: 0.25rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		padding-top: 0.25rem;
	}
}

.autofit-padded-no-gutters-y {
	margin-bottom: -0.25rem;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	margin-top: -0.25rem;
	width: auto;

	> .autofit-col {
		padding-bottom: 0.25rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		padding-top: 0.25rem;
	}
}

.autofit-padded-no-gutters {
	margin-bottom: -0.25rem;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	margin-top: -0.25rem;
	width: auto;

	> .autofit-col {
		padding-bottom: 0.25rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		padding-top: 0.25rem;
	}
}

// Bootstrap 4.1 Utilities (Not included in Alpha)

.flex-grow-1 {
	flex-grow: 1 !important;
}

.custom-number {
	-moz-appearance: textfield;
	appearance: textfield;
	margin: 0;

	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}

.custom-number-monospaced {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	text-align: center;
	width: $input-height;
}

// Min Height Utilities (Not in Bootstrap or Clay)

.mh-md-425 {
	@include media-breakpoint-up(md) {
		min-height: 26.5625rem;
	}
}

.mh-lg-625 {
	@include media-breakpoint-up(lg) {
		min-height: 39.0625rem;
	}
}

// Line Height Utilities (Not in Bootstrap or Clay)

.lh-1 {
	line-height: 1;
}

.lh-2 {
	line-height: 2;
}

.lh-3 {
	line-height: 2.5;
}

.lh-4 {
	line-height: 3;
}

.lh-5 {
	line-height: 3.5;
}

// Letter Spacing Utilities (Not in Bootstrap or Clay)

.ls-1 {
	letter-spacing: 0.5px;
}

.ls-2 {
	letter-spacing: 1px;
}

.ls-3 {
	letter-spacing: 1.5px;
}

.ls-4 {
	letter-spacing: 2px;
}

.ls-5 {
	letter-spacing: 2.5px;
}

// Commerce Utilities

.card-section-expand {
	flex-grow: 1;
}

// Commerce Taglibs

.commerce-compare-product-container {
	.form-group {
		margin-bottom: 0;
	}

	.input-checkbox-wrapper > label {
		color: #676767;
		font-size: 0.875rem;
		text-transform: uppercase;
	}
}

.commerce-quantity-container {
	.form-group {
		margin-bottom: 0;
	}
}

.input-checkbox-wrapper label > .field {
	margin-right: 0.5rem;
}

.facet-checkbox-label > .term-name {
	margin-left: 0.5rem;
}

// Commerce LayoutTpl

.commerce-layouttpl {
	.portlet-column {
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
		width: 100%;
	}

	&.commerce-cart, &.commerce-catalog {
		margin-left: auto;
		margin-right: auto;
		max-width: map-get($container-max-widths, xl);

		@include media-breakpoint-up(lg) {
			padding-left: 48px;
			padding-right: 48px;
		}
	}
}

.commerce-cart {
	#column-2 {
		@include media-breakpoint-up(lg) {
			padding-right: $grid-gutter-width;
			width: calc(100% - 400px);
		}
	}

	#column-3 {
		@include media-breakpoint-up(lg) {
			width: 400px;
		}
	}
}

.commerce-catalog {
	#column-2 {
		@include media-breakpoint-up(lg) {
			width: 264px;
		}

		@include media-breakpoint-up(xl) {
			width: 364px;
		}
	}

	#column-3 {
		@include media-breakpoint-up(lg) {
			padding-left: $grid-gutter-width;
			width: calc(100% - 264px);
		}

		@include media-breakpoint-up(xl) {
			width: calc(100% - 364px);
		}
	}
}

// Commerce Placeholders

%btn-primary {
	@include clay-button-variant($btn-primary);
}

%btn-outline-primary {
	@include clay-button-variant($btn-outline-primary);
}

%commerce-btn-lg {
	font-size: $btn-font-size-lg;

	@include clay-scale-component {
		font-size: $btn-font-size-lg-mobile;
		padding-bottom: $btn-padding-y-lg-mobile;
		padding-left: $btn-padding-x-lg-mobile;
		padding-right: $btn-padding-x-lg-mobile;
		padding-top: $btn-padding-y-lg-mobile;
	}

	.inline-item {
		font-size: $btn-inline-item-font-size-lg;
	}

	.btn-section {
		font-size: $btn-section-font-size-lg;
	}
}

%commerce-btn-cta {
	box-shadow: 0 0.1875rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.3);
}

%commerce-search-bar-reset {
	.search-bar {
		.lfr-ddm-field-group-inline:first-child {
			display: block;
			margin-bottom: 0;
			width: 100%;

			> .search-input {
				padding-right: 38px;
			}

			+ .form-control + .search-field {
				cursor: $link-cursor;
				margin-bottom: 0;
				margin-top: -1rem;
				right: 6px;
				top: 50%;
			}
		}
	}
}

%commerce-search-facet {
	.search-facet {
		border-width: 0;
		margin-bottom: 1px;

		.panel-heading {
			border-bottom: 1px solid #D4D4D4;
		}

		.panel-title {
			color: $body-color;
			font-size: 1.25rem;

			> a {
				padding: 1.5rem 2rem 1.5rem 0.25rem;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.panel-body {
			padding: 1.25rem 0.25rem;
		}

		.collapse-icon {
			.lexicon-icon {
				display: none;
			}
		}

		.collapse-icon-closed, .collapse-icon-open {
			background-position: center;
			background-repeat: no-repeat;
			background-size: 1rem;
			height: 2rem;
			right: 0;
			width: 2rem;
		}

		.collapse-icon-closed {
			background-image: clay-icon(hr, $primary);
		}

		.collapse-icon-open {
			background-image: clay-icon(plus, $primary);
		}

		.facet-checkbox-label {
			color: #676767;
			font-size: 1.125rem;

			.term-count {
				font-size: 100%;
				margin-left: 0.25rem;
			}
		}
	}
}

// Portlet Search Bar

.commerce-site {
	@extend %commerce-search-bar-reset;
}

// Search Facet

.panel-group {
	@extend %commerce-search-facet;
}

// Customer Portal Custom Form

.commerce-custom-control-button {
	height: $input-height;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 5;

	+ .input-group {
		.form-control[readonly] {
			background-color: $input-bg;
		}

		.input-group-text {
			transition: $input-transition;
		}
	}

	&:focus + .input-group {
		.form-control, .input-group-text {
			background-color: #FFF;
			border-color: $input-focus-border-color;
		}
	}
}

.commerce-custom-control-input {
	height: $input-height;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 5;

	+ .input-group {
		.form-control[readonly] {
			background-color: $input-bg;
		}

		.input-group-text {
			transition: $input-transition;
		}
	}

	&:focus + .input-group {
		.form-control, .input-group-text {
			background-color: $input-focus-bg;
			border-color: $input-focus-border-color;
		}
	}

	&:checked + .input-group {
		.form-control, .input-group-text {
			background-color: #FFF;
			border-color: $input-focus-border-color;
		}
	}
}

// Footer on Bottom (Makes sure footer is aligned to bottom of browser window if main content is too small)

.commerce-full-page, html, .commerce-full-page > .flipped {
	height: 100%;
}

.commerce-full-page.has-control-menu {
	height: calc(100% - 48px);

	@include media-breakpoint-up(md) {
		height: calc(100% - 64px);
	}
}

.commerce-full-page #wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-top: 0;
}

.commerce-full-page {
	#content {
		flex-grow: 1;
	}

	#banner, #footer {
		flex-shrink: 1;
	}
}

// Commerce Subnavigation

.commerce-subnavigation {
	@include clay-navbar-size($commerce-subnavigation-size);

	.inline-item {
		font-size: 1rem;
	}

	.nav-link {
		.inline-item {
			color: $primary;
		}
	}

	&.navbar-collapse-absolute.navbar-expand-md {
		.navbar-collapse {
			@include media-breakpoint-down(sm) {
				z-index: $zindex-navbar-collapse-absolute + 1;
			}
		}
	}
}

.commerce-subnavigation-dark {
	@include clay-navbar-variant($commerce-subnavigation-dark);
}

// Commerce Navigation

.commerce-navigation {
	border-color: #F3F3F3;

	.logo-image-sm {
		width: 72px;
	}

	.logo-image-lg {
		width: 127px;
	}

	&.navbar-expand-md {
		@include media-breakpoint-down(sm) {
			.nav-link {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}

			.navbar-toggler-link {
				font-size: 1rem;
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}
		}
	}

	.commerce-navigation-icon {
		color: $primary;
		font-size: 1rem;
	}

	.commerce-dropdown-caret {
		color: $primary;
		font-size: 0.75rem;
	}
}

.commerce-layout-icon {
	display: inline-flex;
	height: 1.25rem;
	vertical-align: text-bottom;
	width: 1.25rem;

	img {
		max-width: 100%;
	}
}

// Commerce Site Search Navigation

.commerce-site-search-navigation {
	@include clay-navbar-size($commerce-site-search-navigation-size);
	@include clay-navbar-variant($commerce-site-search-navigation);

	padding-bottom: 0.90625rem;
	padding-top: 0.90625rem;
	width: 100%;
}

// Commerce Site Navigation

.commerce-site-navigation {
	@include clay-navbar-size($commerce-site-navigation-size);
	@include clay-navbar-variant($commerce-site-navigation);

	padding-bottom: 1.75rem;
	padding-top: 1.75rem;
	width: 100%;

	.nav-link-primary {
		color: $primary;
		font-size: 1.25rem;
		font-weight: $font-weight-bold;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
}

// Commerce Footer

.commerce-footer {
	background-color: #22211F;
	margin-top: 1.5rem;

	@include media-breakpoint-up(md) {
		margin-top: 3.75rem;
	}

	a {
		color: #72716F;
	}

	.footer-main-section {
		padding-bottom: 1.5rem;
		padding-top: 3rem;

		@include media-breakpoint-up(lg) {
			padding-bottom: 5rem;
			padding-left: 1.5rem;
			padding-top: 2.5rem;
		}
	}

	.footer-secondary-section {
		color: #72716F;
		padding-bottom: 3rem;
		padding-top: 1.5rem;

		@include media-breakpoint-up(lg) {
			padding-bottom: 5rem;
			padding-left: 2rem;
			padding-top: 2.5rem;
		}
	}

	.footer-newsletter {
		.portlet-forms {
			margin-bottom: 2rem;
			max-width: 21.875rem;
		}

		.ddm-form-name, .form-group > label, .lfr-meta-actions, .required-warning {
			display: none;
		}

		.lfr-ddm-form-page-title {
			color: #FFF;
			font-size: 1.5rem;
			margin-bottom: 1rem;
			padding: 0;
		}

		.lfr-ddm-form-page-description {
			color: #999;
			font-size: 1.25rem;
			font-weight: $font-weight-light;
			margin-bottom: 2.5rem;
			padding: 0;
		}

		.form-control {
			background-color: #484745;
			border-color: #484745;
			padding-right: 6.25rem;

			&::placeholder {
				color: #999;
			}
		}

		.form-group {
			margin-bottom: 0;
		}

		.lfr-ddm-form-container {
			position: relative;
		}

		.lfr-ddm-form-pagination-controls {
			bottom: 0;
			position: absolute;
			right: 0;
			z-index: 5;
		}

		.lfr-ddm-form-submit {
			@include border-left-radius(0);
		}
	}

	.footer-list-title {
		color: #FFF;
		font-size: 1.125rem;
		font-weight: 400;
		margin-bottom: 1.75rem;
		text-transform: uppercase;
	}

	.footer-link {
		margin-bottom: 0.25rem;
	}

	.footer-section-column {
		+ .footer-section-column {
			max-width: 50%;
			min-width: 7.5rem;
			word-wrap: break-word;

			@include media-breakpoint-up(sm) {
				max-width: 20%;
				min-width: 12.5rem;
			}

			@include media-breakpoint-up(lg) {
				min-width: 6.25rem;
			}
		}
	}
}

// Modals

.commerce-site {
	.yui3-widget-mask {
		background-color: #FFF;
		opacity: 1;
	}
}

#signinmodal {
	.modal-content {
		box-shadow: none;
	}

	.modal-header {
		border-color: transparent;
	}

	.modal-body {
		padding-bottom: 0;
	}

	.input-checkbox-wrapper {
		input[type="checkbox"] {
			margin-right: 0.5rem;
		}
	}

	.navigation {
		margin-top: -125px;
		position: absolute;
		right: 0;

		.taglib-icon-list {
			font-size: 1rem;

			> li:first-child {
				display: none;
			}

			a {
				color: #B7B7BF
			}
		}
	}

	.yui3-resize-handles-wrapper {
		display: none;
	}
}

// Buttons

.commerce-btn-cta {
	@extend %commerce-btn-cta;
}

// Breadcrumb

.breccia-breadcrumb {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

// Cards

.card-page .product-expand, .card-section-expand {
	flex-grow: 1;
}

.catalog-card-page {
	align-self: stretch;
	margin-bottom: 1.25rem;

	.card {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 1rem;
		width: 100%;
	}

	.card-page-item-asset {
		display: flex;
		flex-basis: 15.6875rem;
		min-width: 15.6875rem; // 251px
	}

	.product-sku {
		font-size: 0.75rem;
		font-weight: $font-weight-bold;
		margin-bottom: 0.75rem;
	}

	.card-title {
		font-size: 1.125rem;
		font-weight: $font-weight-normal;
	}

	.product-description {
		margin-bottom: 3rem;
	}

	.product-expand {
		flex-grow: 1;
	}

	.product-list-info-compare {
		line-height: 1.5rem;
		padding: 1px 0;
	}

	.product-actions {
		margin-bottom: 1.25rem;
	}

	// Product Price

	.product-price {
		margin-bottom: 2rem;
	}

	.commerce-prefix {
		color: $secondary;
		font-size: 0.9375rem;
		font-weight: $font-weight-light;
	}

	.commerce-price {
		font-size: 1rem;
		font-weight: $font-weight-semi-bold;
	}

	.commerce-suffix {
		color: $secondary;
		font-size: 0.75rem;
	}

	// Quantity Input

	.commerce-quantity-container {
		margin-right: 0.5rem;
		max-width: 54px;

		.control-label {
			display: none;
		}

		.form-control {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}

		.form-group {
			margin-bottom: 0;
		}
	}

	.product-footer {
		.custom-control-label-text {
			font-weight: $font-weight-normal;
		}

		.available-variants {
			color: $secondary;
			font-size: 0.8125rem;
			font-weight: $font-weight-semi-bold;
			line-height: 1.625rem;
		}
	}

	+ .form {
		margin-top: 2rem;
	}
}

.card:hover {
	box-shadow: 0 0.625rem 2rem -0.1875rem rgba(0, 0, 0, 0.125);
}

.card-page-nowrap {
	width: 100%;

	.card-page {
		-webkit-overflow-scrolling: touch;
		flex-wrap: nowrap;
		overflow: auto;
	}
}

.commerce-simple-card {
	.card {
		align-items: center;
		border-color: transparent;
		display: flex;
		justify-content: flex-start;
		margin-bottom: 2rem;
		padding: 2rem 1rem;
		text-align: center;
		width: 100%;

		&:hover {
			text-decoration: none;

			.card-title {
				color: $primary;
			}
		}
	}

	.card-image {
		height: 6.25rem;
		margin-bottom: 1.5rem;

		@include media-breakpoint-up(lg) {
			height: 7.8125rem;
		}

		+ .card-title {
			margin-top: 0;
		}
	}

	.card-title {
		@include clay-text-typography($commerce-simple-card-title);

		margin-top: 7.75rem;

		@include media-breakpoint-up(lg) {
			font-size: 1.5rem;
			margin-top: 9.3125rem;
		}
	}
}

// Commerce Category Navigation

.commerce-category-navigation-card-page {
	.card-page-item {
		display: flex;
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
	}
}

.commerce-category-navigation {
	.card-page-item {
		width: 50%;

		@include media-breakpoint-up(sm) {
			width: 33.33333%;
		}

		@include media-breakpoint-up(md) {
			width: 25%;
		}

		@include media-breakpoint-up(lg) {
			width: 20%;
		}

		@include media-breakpoint-up(xl) {
			width: 16.66667%;
		}
	}
}

.commerce-category-navigation-inline {
	.card-page-item {
		flex-basis: 182px;
		min-width: 182px;

		@include media-breakpoint-up(lg) {
			flex-basis: 240px;
			min-width: 240px;
		}
	}

	.card {
		margin-bottom: 1rem;

		@include media-breakpoint-up(lg) {
			margin-bottom: 1.5rem;
		}
	}
}

// Commerce Search Results

.commerce-search-results-inline {
	.card-page-item-asset {
		flex-basis: 250px;
		min-width: 250px;

		@include media-breakpoint-up(lg) {
			flex-basis: 360px;
			min-width: 360px;
		}
	}

	+ .form {
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	.product-image-container {
		height: 100px;

		@include media-breakpoint-up(lg) {
			height: 200px;
		}

		.product-image {
			max-height: 70%;
			max-width: none;

			@include media-breakpoint-up(lg) {
				max-height: 50%;
			}
		}
	}
}

// Carousel

.commerce-carousel {
	width: 100%;

	.carousel-item > .autofit-row {
		height: 24rem;

		@include media-breakpoint-up(sm) {
			height: 15rem;
		}

		@include media-breakpoint-up(lg) {
			height: 28rem;
		}
	}

	.carousel-text-column {
		background-color: #242321;
		color: #FFF;
		padding: 1.5rem;
		width: 100%;

		@include media-breakpoint-up(sm) {
			width: $commerce-carousel-text-column-width;
		}

		@include media-breakpoint-up(md) {
			padding-left: calc((100vw - #{map-get($container-max-widths, xl)}) / 2);
		}

		&.commerce-carousel-single-column {
			padding-right: calc((100vw - #{map-get($container-max-widths, xl)}) / 2);
			width: 100%;
		}

		> .autofit-section {
			padding: $grid-gutter-width;
		}
	}

	.carousel-image-column {
		align-items: center;
		max-height: 12.5rem;
		overflow: hidden;

		@include media-breakpoint-up(sm) {
			max-height: 100%;
			width: $commerce-carousel-image-column-width;
		}

		> img {
			max-width: none;
			width: 120%;
		}

		&.commerce-carousel-single-column {
			@include media-breakpoint-down(sm) {
				max-height: none;
			}

			width: 100%;

			.commerce-carousel-counter {
				background-color: rgba(0, 0, 0, 0.5);
				color: #FFF;
				left: calc((100vw - #{map-get($container-max-widths, xl)}) / 2);
				margin-left: $grid-gutter-width / 2;
				padding-left: $grid-gutter-width / 2;
				padding-right: $grid-gutter-width / 2;
			}
		}
	}

	.carousel-control-prev {
		@include media-breakpoint-up(sm) {
			@include border-left-radius($border-radius);

			bottom: 1rem;
			height: $commerce-carousel-control-size;
			left: calc(#{$commerce-carousel-text-column-width} - #{$commerce-carousel-control-size});
			top: auto;
			width: $commerce-carousel-control-size;
		}
	}

	.carousel-control-next {
		@include media-breakpoint-up(sm) {
			@include border-right-radius($border-radius);

			bottom: 1rem;
			height: $commerce-carousel-control-size;
			right: calc(#{$commerce-carousel-image-column-width} - #{$commerce-carousel-control-size});
			top: auto;
			width: $commerce-carousel-control-size;
		}
	}
}

.commerce-carousel-control {
	background-color: rgba(0, 0, 0, 0.2);
	color: $primary;
	font-size: 1.125rem;
	height: $commerce-carousel-control-size-mobile;
	margin-top: math-sign($commerce-carousel-control-size-mobile / 2);
	opacity: 1;
	top: 50%;
	width: $commerce-carousel-control-size-mobile;

	@include media-breakpoint-up(sm) {
		background-color: #FFF;
	}

	&:hover, &:focus {
		background-color: rgba(0, 0, 0, 0.2);
		color: $primary;
		opacity: 1;

		@include media-breakpoint-up(sm) {
			background-color: #EEE;
		}
	}

	.lexicon-icon {
		margin-top: 0;
	}
}

.commerce-carousel-counter {
	font-size: 1.25rem;
	margin-top: 1rem;

	@include media-breakpoint-up(sm) {
		bottom: 1rem;
		margin-top: 0;
		position: absolute;
	}
}

// Commerce Checkout

.commerce-checkout-confirmation {
	text-align: center;
}

.portlet-commerce-checkout {
	.add-street-link, .form-group-item > label {
		font-size: 1.125rem;
		font-weight: $font-weight-bold;
	}

	.form-control, select.form-control:not([size]):not([multiple]) {
		font-size: 1.125rem;
		height: 4rem;
	}

	.button-holder {
		margin-bottom: 3rem;
		margin-top: 3rem;

		.btn {
			@extend %commerce-btn-lg;

			&[type="submit"] {
				@extend %commerce-btn-cta;
			}
		}
	}
}

.form-group-autofit {
	.commerce-form-group-item-row.form-group-item {
		margin-bottom: 0;
		margin-right: 0;

		@include media-breakpoint-up(md) {
			flex-direction: row;
			margin-bottom: $form-group-margin-bottom;
		}

		> label {
			font-weight: $font-weight-bold;

			@include media-breakpoint-up(md) {
				align-self: center;
				margin-bottom: 0;
				margin-right: $grid-gutter-width;
				white-space: nowrap;
			}
		}
	}
}

.form-group-item.form-group {
	margin-bottom: 0;
}

// Commerce Component

.commerce-component-header {
	margin-bottom: 3rem;

	.component-title {
		font-size: 2.75rem;
	}

	.component-title-label {
		font-size: 2.25rem;
		font-weight: $font-weight-light;
		margin-right: 0.5rem;
	}

	.component-title-value {
		font-size: 2.5rem;
		font-weight: $font-weight-normal;
	}
}

// Commerce Cart Content

.breccia-commerce-cart-content {
	.table-list {
		thead th {
			background-color: #F9F9F9;
			font-size: 1rem;
			font-weight: $font-weight-light;
			padding-bottom: 1.25rem;
			padding-top: 1.25rem;
		}

		tbody, tfoot {
			td, th {
				vertical-align: top;
			}
		}

		.commerce-cart-content-image {
			max-width: 4.75rem;
		}

		.commerce-cart-content-remove {
			bottom: $table-cell-padding;
			position: absolute;
			right: 3rem;
		}

		tbody {
			.quantity-column, .subtotal-column {
				padding-top: 1.5rem;
				vertical-align: middle;
			}
		}

		.quantity-column {
			max-width: none;
			min-width: 0;
			text-align: center;

			.custom-number {
				margin-left: auto;
				margin-right: auto;
			}
		}

		.subtotal-column {
			max-width: none;
			min-width: 0;
			padding-right: 3rem;
			text-align: right;
		}
	}

	.commerce-cart-content-value {
		font-size: 1.125rem;
	}

	.table-title {
		@include clay-text-typography($breccia-commerce-cart-content-table-title);
	}

	.table-subtitle {
		@include clay-text-typography($breccia-commerce-cart-content-table-subtitle);
	}

	.table-text {
		@include clay-text-typography($breccia-commerce-cart-content-table-text);
	}
}

.commerce-cart-content-actions {
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}

// Cart Content Mini

.commerce-order-items-header {
	background-color: $commerce-order-items-header-bg;
	color: $commerce-order-items-header-color;
	padding-left: 0;

	.autofit-row {
		align-items: center;
	}

	.autofit-col {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.commerce-title {
		font-size: 1.25rem;
		font-weight: $font-weight-normal;
		margin-bottom: 0;
	}

	.commerce-btn {
		@extend %btn-outline-primary;
	}

	.commerce-btn.transition-link {
		@extend %btn-primary;
	}
}

.commerce-order-items-body {
	background-color: $commerce-order-items-body-bg;
	color: $commerce-order-items-body-color;
	padding-bottom: 9rem;
	padding-left: 0;
	padding-right: 0;
	padding-top: 1.5rem;

	.list-group-notification {
		color: inherit;
		margin-bottom: 0;

		.list-group-item {
			background-color: $commerce-order-items-body-bg;
			border-bottom-width: $list-group-border-width;
			border-color: rgba(0, 0, 0, 0.1);
			border-top-width: $list-group-border-width;
			box-shadow: none;
			color: inherit;
		}

		.thumbnail-section {
			.sticker {
				background-color: #EDEDED;
				color: $body-color;
			}
		}

		.product-price, .quantity-section, .value-section {
			margin-top: 1rem;
		}
	}

	.list-group-text {
		@include clay-text-typography($commerce-order-items-body-list-group-text);
	}

	.list-group-title {
		@include clay-text-typography($commerce-order-items-body-list-group-title);
	}

	.list-group-subtitle {
		@include clay-text-typography($commerce-order-items-body-list-group-subtitle);
	}

	.main-content-body {
		margin-top: 0;
	}
}

.commerce-order-items-footer {
	background-color: $commerce-order-items-footer-bg;
	color: $commerce-order-items-footer-color;
	padding: 1.5rem 0;

	.autofit-row {
		align-items: center;

		+ .autofit-row {
			margin-top: 1.5rem;
		}
	}

	.autofit-col {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.commerce-description {
		font-size: 1rem;
		font-weight: $font-weight-light;
	}

	.commerce-value {
		font-size: 1.25rem;
	}

	.commerce-total {
		.commerce-description {
			font-weight: $font-weight-bold;
		}

		.commerce-value {
			font-weight: $font-weight-bold;
		}
	}
}

// Commerce Cart Content Total

.portlet-commerce-cart-content-total {
	.commerce-component-header {
		@include media-breakpoint-up(lg) {
			text-align: right;
		}
	}
}

.portlet-commerce-cart-content-total {
	.commerce-panel-secondary {
		background-color: #F9F9F9;
		border-color: #DCDCDC;
		margin-bottom: 1.5rem;

		.panel-header {
			border-bottom: 0.0625rem solid #DCDCDC;
			padding: 1.375rem 2rem;
		}

		.panel-title {
			font-size: 1rem;
		}

		.panel-body {
			padding: 1.5rem 2rem 0.1px 2rem;
		}
	}
}

.commerce-cart-content-total-list {
	margin-bottom: 0;
}

.commerce-cart-content-total-item {
	font-size: 1rem;
	margin-bottom: 2rem;

	.btn-monospaced {
		padding: 0;
	}
}

.commerce-cart-content-total-divider {
	border-bottom: 1px solid #DCDCDC;
	margin-bottom: 2rem;
}

.commerce-cart-content-total-label {
	font-weight: $font-weight-light;
}

.commerce-cart-content-total-value {
	font-size: 1.125rem;

	&.shipping-value {
		color: #9E9E9E;
	}

	&.zipcode-value {
		color: $primary;
	}
}

.commerce-cart-content-total-actions {
	.btn-outline-borderless {
		padding-left: 0.25rem;
		padding-right: 0.25rem;
	}
}

// Commerce Category Content

.portlet-commerce-category-content {
	.category-detail {
		> .container-fluid {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.category-title {
		font-size: 1.875rem;
		margin-top: 1rem;

		@include media-breakpoint-up(md) {
			font-size: 3.5rem;
			margin-bottom: 3rem;
			margin-top: 2rem;
		}
	}

	.category-description {
		color: #AAA;
		font-size: 1rem;
		font-weight: $font-weight-light;

		@include media-breakpoint-up(md) {
			font-size: 1.75rem;
			line-height: 1.75;
			margin-bottom: 3rem;
			max-width: 80%;
		}
	}
}

// Commerce Catalog Page

.commerce-catalog {
	.portlet-search-bar {
		margin-bottom: 3rem;

		.portlet-header {
			margin-bottom: 1.5rem;
		}

		.portlet-title-text {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	.catalog-card-page {
		.card-page-item-asset {
			@include media-breakpoint-up(lg) {
				max-width: 50%;
			}

			@include media-breakpoint-up(xl) {
				max-width: 33.33333%;
			}
		}
	}
}

// Commerce Product Detail

// Product Detail

.product-detail-info-header {
	.commerce-price {
		text-align: center;

		.commerce-discount {
			float: right;
			font-size: 1rem;
		}

		.product-price {
			float: left;
		}

		.product-promo-price{
			font-size: 1rem;
			vertical-align: super;

			& > del {
				text-decoration: none;
			}
		}
	}
}

.product-detail-header {
	font-size: 0.875rem;
	margin-bottom: 3rem;

	.component-title {
		margin-bottom: 1rem;
	}

	.commerce-brand-name {
		color: $dark;
		font-weight: $font-weight-bold;
		letter-spacing: 2px;
		margin-bottom: 0;
		text-transform: uppercase;
	}

	.commerce-title {
		font-size: 1.5rem;
		font-weight: $font-weight-bold;
		margin-bottom: 0.75rem;
	}

	.commerce-model-number, .commerce-sku {
		color: $secondary;
	}

	.commerce-review {
		font-size: 1.125rem;
	}
}

.product-detail-subheader {
	> .autofit-col {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

// Product Detail Body

.product-detail-body {
	display: flex;

	@include media-breakpoint-down(sm) {
		flex-wrap: wrap;
	}
}

.product-detail-info {
	width: 100%;

	@include media-breakpoint-up(md) {
		flex-grow: 1;
		padding-left: 3rem;
		width: calc(100% - #{$product-detail-image-widget-width-md});
	}
}

.product-detail-options {
	.lfr-ddm-form-fields {
		.row {
			@include media-breakpoint-up(lg) {
				width: 50%;
			}
		}
	}
}

// Product Detail Image

.product-detail-image-widget-column {
	margin-bottom: 3rem;
	width: 100%;

	@include media-breakpoint-up(md) {
		margin-bottom: 0;
		width: auto;
	}
}

.product-detail-image-widget {
	@include border-radius($border-radius);

	display: flex;
	height: $product-detail-image-widget-height;
	min-width: $product-detail-image-widget-width;
	width: $product-detail-image-widget-width;

	@include media-breakpoint-up(sm) {
		height: $product-detail-image-widget-height-sm;
		min-width: $product-detail-image-widget-width-sm;
		width: $product-detail-image-widget-width-sm;
	}

	@include media-breakpoint-up(md) {
		height: $product-detail-image-widget-height-md;
		min-width: $product-detail-image-widget-width-md;
		width: $product-detail-image-widget-width-md;
	}

	@include media-breakpoint-up(lg) {
		height: $product-detail-image-widget-height-lg;
		min-width: $product-detail-image-widget-width-lg;
		width: $product-detail-image-widget-width-lg;
	}

	@include media-breakpoint-up(xl) {
		height: $product-detail-image-widget-height-xl;
		min-width: $product-detail-image-widget-width-xl;
		width: $product-detail-image-widget-width-xl;
	}
}

.product-detail-thumbnail-column {
	padding-right: 12px;
	position: relative;
	width: 20%;

	@include media-breakpoint-up(sm) {
		height: 100%;
	}

	+ .product-detail-image-column {
		width: 80%;
	}
}

.product-detail-thumbnail-container {
	border: 1px solid #CCC;
	border-radius: $border-radius;
	height: calc(25% - 9px);
	margin-bottom: 12px;
	overflow: hidden;

	&:last-child {
		margin-bottom: 0;
	}

	.thumb {
		align-items: center;
		display: flex;
		font-size: 1.25rem;
		font-weight: $font-weight-semi-bold;
		height: 100%;
		justify-content: center;
		position: relative;
		text-decoration: none;
		width: 100%;
	}

	.sticker-top-left {
		left: 0.5rem;
		top: 0.5rem;
	}
}

.product-detail-thumbnail-text-container {
	@include media-breakpoint-down(xs) {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 12px;
		top: auto;
	}
}

.product-detail-image-column {
	display: flex;
	position: relative;

	.sticker {
		font-size: 1rem;
	}

	.sticker-bottom-right {
		bottom: 0.5rem;
		right: 0.5rem;
	}

	.sticker-top-right {
		right: 0.5rem;
		top: 0.5rem;
	}
}

.product-detail-image-container {
	border: 1px solid #CCC;
	border-radius: $border-radius;
	display: flex;
	flex-grow: 1;
}

.product-detail-info-compare {
	bottom: 0;
	left: 0;
	line-height: 2rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	position: absolute;

	.form-inline label {
		margin-bottom: 0;
	}
}

.product-detail-social-navigation {
	font-size: 1.25rem;
	margin-top: 1rem;

	@include media-breakpoint-up(lg) {
		margin-left: 22%;
	}

	.nav {
		flex-direction: row;
	}
}

.product-detail-image-widget-modal {
	.carousel {
		align-items: center;
		display: flex;
		flex-grow: 1;
		justify-content: center;
	}

	.carousel-item {
		text-align: center;

		.carousel-item-image {
			border: 1px solid #CCC;
			border-radius: $border-radius;
			margin-left: auto;
			margin-right: auto;
			max-width: 50%;
			overflow: hidden;
		}
	}

	.carousel-index {
		color: #CCC;
		font-size: 1.25rem;
		margin-top: 1.5rem;
	}

	.carousel-control-prev, .carousel-control-next {
		color: $primary;
		font-size: 2rem;
		height: 3rem;
		margin-top: -1.5rem;
		opacity: 1;
		top: 50%;
		width: 3rem;
	}

	&.modal .modal-dialog {
		margin-left: auto;
		margin-right: auto;
		max-width: map-get($container-max-widths, xl);

		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}

	.modal-body {
		display: flex;
		flex-direction: column;
	}
}

// Product Detail Info

.product-detail-info {
	.commerce-quantity-container {
		> .form-group {
			align-items: center;
			display: flex;

			> label {
				margin-bottom: 0;
				margin-right: 1rem;
			}

			> .form-control[type="number"] {
				max-width: 6.25rem;
			}
		}
	}

	.commerce-size-input {
		max-width: 15.625rem;
	}

	.taglib-add-to-cart {
		@extend %commerce-btn-cta;
		@extend %commerce-btn-lg;
	}
}

.product-detail-info-header {
	align-items: flex-end;

	.autofit-section {
		border-bottom: 1px solid #CCC;
		margin-bottom: 1.5rem;
		padding-bottom: 1rem;
	}

	.product-detail-price {
		border-bottom: 1px solid #CCC;
		margin-bottom: 1.5rem;
		padding-bottom: 1rem;

		.commerce-subscription-info:empty {
			margin-bottom: 0;
		}

		&:empty {
			border-bottom-width: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.commerce-tier-price {
	.table-responsive {
		margin-bottom: 1rem;
		max-height: 500px;
		overflow: auto;
	}

	.table {
		margin-bottom: -$table-border-width;
		text-align: right;

		thead th {
			background-color: #F9F9F9;
			border-color: #F9F9F9;
			font-weight: $font-weight-normal;
		}

		.price-point-column {
			text-align: center;
		}
	}

	.multiples-row {
		cursor: $link-cursor;
	}

	.table-truncate-threshold {
		~ tr {
			display: none;
		}
	}
}

.commerce-tier-price.expand {
	.table-truncate-threshold {
		~ tr {
			display: table-row;
		}
	}

	.commerce-tier-price-toggler {
		.view-less {
			display: inline;
		}

		.view-more {
			display: none;
		}
	}
}

.commerce-tier-price-footer {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.commerce-tier-price-toggler {
	.view-less {
		display: none;
	}
}

.product-detail-info-selections {
	.form-group {
		margin-bottom: 0;
	}
}

// Description, Techincal Specifications, Shipping & Returns

.product-detail-description {
	background-color: #242321;
	color: #FFF;
	font-size: 1rem;
	margin-left: -($grid-gutter-width / 2);
	margin-right: -($grid-gutter-width / 2);
	margin-top: 6rem;
	padding-bottom: 2.5rem;
	padding-top: 2.5rem;

	.specification-column:first-child:not(:only-child) {
		padding-right: $grid-gutter-width;
	}

	.specification-column + .specification-column {
		padding-left: $grid-gutter-width;
	}

	.table {
		font-size: 0.8125rem;
		margin-bottom: 0;

		tbody tr:first-child td {
			border-top-width: 0;
		}
	}

	.table-title {
		font-size: 0.8125rem;
		font-weight: $font-weight-bold;
	}

	.table-value {
		text-align: right;
	}
}

.product-detail-description-tabs {
	font-weight: $font-weight-bold;
	margin-bottom: 2rem;

	@include media-breakpoint-up(md) {
		font-size: 1.5rem;
		margin-bottom: 4rem;
	}

	@include media-breakpoint-up(xl) {
		font-size: 2.25rem;
	}

	.nav-item {
		text-align: center;
		width: 33.33333%;

		@media (max-width: 479px) {
			flex-grow: 0;
			width: 50%;
		}
	}

	.nav-link {
		color: #676767;

		@include media-breakpoint-up(md) {
			padding: 1rem;
		}

		@include media-breakpoint-up(xl) {
			padding: 2.5rem 1rem;
		}
	}

	.nav-link.active, .nav-item.show .nav-link {
		color: #FFF;
	}

	&.nav-underline {
		.nav-link.active:after, .navitem.show .nav-link:after {
			height: 0.3125rem;
		}
	}
}

.specification-list {
	margin-bottom: 2rem;

	@include media-breakpoint-up(md) {
		margin-bottom: 4rem;
	}

	.autofit-col {
		border: 1px solid #6D6C6A;
		margin-bottom: 0;
		margin-left: -1px;
		margin-top: -1px;
		min-height: 2.5rem;
		padding: 0.5rem 1rem;
		width: 100%;

		@include media-breakpoint-up(sm) {
			width: 50%;
		}

		@include media-breakpoint-up(md) {
			width: 25%;
		}
	}

	.specification-empty {
		display: none;

		@include media-breakpoint-up(md) {
			display: flex;
		}
	}

	.specification-term {
		background-color: #383735;
		font-weight: $font-weight-normal;
	}

	.specification-desc {
		font-weight: $font-weight-bold;

		.lexicon-icon-shortcut {
			display: none;
		}
	}
}

// Others

.product-detail-separator {
	border-top: 1px solid #CCC;
	margin-top: 4rem;
	padding-top: 2rem;
}

.product-image-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: center;
	overflow: hidden;
	text-align: center;

	.product-image {
		max-width: 100%;
	}
}

.product-footer {
	margin-top: 0.75rem;
}

.product-actions {
	margin-bottom: 0.5rem;
}

.product-subactions {
	.autofit-row {
		align-items: center;
	}
}

.product-detail-card-page {
	flex-wrap: nowrap;
	overflow: auto;

	.container-fluid & {
		margin-left: 0;
		margin-right: 0;
	}

	.card-page-item-asset {
		display: flex;
		min-width: 250px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	.card {
		display: flex;
		padding: 1.25rem;
	}

	.card-title {
		margin-bottom: 1rem;
	}

	.product-description {
		display: flex;
		flex-direction: column;
	}

	.product-sku {
		margin-top: auto;
	}

	.commerce-quantity-container {
		margin-right: 0.5rem;
		max-width: 50px;

		.control-label {
			display: none;
		}

		.form-control {
			padding-left: 0.25rem;
			padding-right: 0.25rem;
			text-align: center;
		}

		.form-group {
			margin-bottom: 0;
		}
	}
}

// Commerce Compare Products

.commerce-compare-table {
	.table {
		max-width: none;
		width: auto;
	}

	.card {
		display: flex;
		height: 375px;
		margin-bottom: 0;
		padding: 12px;
		width: 250px;

		.card-subtitle {
			padding: 10px 0;
		}

		.compare-remove-item {
			align-self: flex-end;
			margin-right: -0.5rem;
			margin-top: -0.5rem;
		}

		.product-price-section {
			line-height: 0.875rem;
		}

		.product-price {
			font-size: 1.125rem;
			font-weight: $font-weight-semi-bold;
		}

		.product-subactions {
			font-size: 0.75rem;
			text-align: right;
		}
	}

	td, th {
		border-bottom: $table-border-width solid $table-border-color;
		border-top-width: 0;
		padding: 0.75rem;
		vertical-align: middle;
	}

	.title-column {
		background-color: #F9F9F9;
		border-left-width: 1px;
		border-top-width: 1px;
		min-width: 200px;

		~ td {
			text-align: center;
		}
	}

	.product-table-row {
		td, th {
			border-bottom-width: 0;
		}
	}

	.table-divider {
		td, th {
			background-color: transparent;
			border-bottom-width: 0;
			border-top-width: 0;
		}

		.table-title {
			font-size: 1.125rem;
			font-weight: $font-weight-normal;
			margin-bottom: 2.5rem;
			margin-top: 2.5rem;
			position: relative;
			text-transform: capitalize;
		}
	}

	.table-title {
		font-size: 0.875rem;
		font-weight: $font-weight-light;
	}
}

// Compare Mini

.portlet-commerce-product-compare-content-mini {
	bottom: 0;
	left: 14px;
	position: fixed;
	right: 14px;
	z-index: $zindex-fixed;

	@include media-breakpoint-up(md) {
		left: 10%;
		right: 10%;
	}

	.portlet {
		margin-bottom: 0;
	}
}

.compare-products-mini-header {
	background-color: #F9F9F9;
	border: 1px solid #DADADA;

	@include border-top-radius($border-radius);
}

.lfr-compare-products-mini-header {
	color: #272833;
	display: block;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-top: 0.5rem;

	&:hover {
		color: #272833;
		text-decoration: none;
	}
}

.toggler-header-collapsed .collapse-icon-closed {
	display: block;
}

.toggler-header-collapsed .collapse-icon-open {
	display: none;
}

.lfr-compare-products-mini-content {
	.card-page {
		background-color: #FFF;
		border-color: #DADADA;
		border-style: solid;
		border-width: 0 1px;
		flex-wrap: nowrap;
		margin-left: 0;
		margin-right: 0;
		overflow: auto;
		padding-bottom: 1.5rem;
		padding-top: 1rem;
	}

	.card-page-item {
		align-items: center;
		display: flex;
		justify-content: center;
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
		width: 200px;

		.autofit-col-expand {
			min-width: 6.25rem;
		}

		+ .card-page-item-shrink {
			margin-left: auto;
		}
	}

	.card-page-item-shrink {
		width: auto;

		+ .card-page-item-shrink {
			margin-left: 0;
		}
	}

	.card {
		margin-bottom: 0;
		width: 75px;

		.aspect-ratio-item-fluid {
			max-width: 64%;
		}

		.sticker {
			align-items: center;
			display: flex;
			height: 1rem;
			justify-content: center;
			width: 1rem;

			a {
				display: block;

				> span {
					align-items: center;
					background-color: $primary;
					border-radius: $rounded-circle-border-radius;
					color: #FFF;
					display: flex;
					height: 1rem;
					justify-content: center;
					width: 1rem;

					.lexicon-icon {
						height: 0.5rem;
						width: 0.5rem;
					}
				}
			}
		}

		.sticker-top-right {
			right: 3px;
			top: 3px;
			z-index: 1;
		}
	}

	.compare-link {
		margin-left: 0.5rem;
	}

	.compare-add-more {
		margin-right: auto;
	}
}

// Multi Step Nav

.commerce-multi-step-nav {
	margin-bottom: 3rem;
	margin-top: 2rem;
	padding-left: 4rem;
	padding-right: 4rem;

	.multi-step-icon {
		font-size: 1.25rem;
	}

	.multi-step-indicator-label {
		color: $body-color;
		font-size: 1.25rem;
		max-width: 200px;
	}

	.multi-step-item.active .multi-step-divider {
		background-color: $multi-step-divider-active-bg;
	}

	&.multi-step-nav-collapse-sm {
		@include media-breakpoint-down(sm) {
			padding-left: 0;
			padding-right: 0;
		}

		&.multi-step-indicator-label-top .multi-step-indicator-label {
			margin-top: -1rem;

			@include media-breakpoint-up(md) {
				bottom: 4.25rem;
				margin-top: 0;
			}
		}
	}
}

// Pagination

a[type="button"] {
	-webkit-appearance: none;
}

.pagination {
	> li {
		&:first-child, &:last-child {
			> a {
				color: $primary;

				&:hover {
					color: $pagination-hover-color;
				}
			}

			&.disabled {
				> a {
					color: $pagination-disabled-color;

					&:hover {
						color: $pagination-disabled-color;
					}
				}
			}
		}

		> a {
			font-weight: $font-weight-bold;
		}
	}
}

.pagination-items-per-page {
	.dropdown-toggle {
		font-weight: $font-weight-semi-bold;

		.icon-sort {
			margin-left: 0.5rem;
		}
	}

	&.show .dropdown-toggle {
		color: $pagination-items-per-page-hover-color;
	}
}

.pagination-results {
	font-size: $pagination-font-size;
}

// Search Container

.lfr-price-column {
	min-width: 200px;
}

// Table

.table {
	margin-bottom: 0;
}

.table-list {
	margin-bottom: 0.0625rem;
}

// Orders

.b2b-portlet-content-header {
	margin-top: 3rem;

	.header-back-to {
		font-size: 1.5rem;
		height: 2rem;
		margin-bottom: 1.5rem;
		width: 2rem;

		> a,
		> a > span {
			align-items: center;
			display: inline-flex;
			height: 100%;
			justify-content: center;
			width: 100%;
		}

		.lexicon-icon-order-arrow-down {
			margin-top: 0;
			transform: rotate(90deg);

			[dir="rtl"] & {
				transform: rotate(-90deg);
			}
		}
	}

	.header-title-bar {
		align-items: center;
		margin-bottom: 1.5rem;

		.autofit-col {
			padding: 0.25rem;
		}
	}

	.header-title {
		color: $body-color;
		font-size: 1.5rem;
		font-weight: $font-weight-bold;
		margin: 0;
	}

	.taglib-header {
		border-bottom-width: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.taglib-icon {
		&:hover, &:focus {
			.taglib-text {
				text-decoration: none;
			}
		}
	}

	.component-action {
		font-size: 0.8125rem;
	}

	.link-outline {
		font-weight: $font-weight-normal;
	}
}

.lfr-icon-item-reverse {
	align-items: center;
	display: inline-flex;

	> span:first-child {
		order: 3;
	}

	.taglib-text {
		line-height: 1;
	}
}

.notes-icon .table-action-link {
	font-size: 1.1rem;
}

.order-notes-form {
	.main-content-card {
		border-color: $input-border-color;
		border-width: 0;
	}

	.add-comment {
		margin-bottom: 1.5rem;
	}

	.lfr-discussion {
		margin-bottom: 1.5rem;

		.dropdown-toggle.icon-monospaced {
			font-size: 1rem;
		}
	}

	.input-boolean-wrapper {
		input[type="checkbox"] {
			margin-right: 0.25rem;
		}

		.taglib-icon-help {
			margin-left: 0.25rem;
		}
	}

	.panel-body {
		padding: 0;
	}
}

.order-filter-settings {
	background-color: #F1F2F5;
	flex-direction: column;
	margin-bottom: 2rem;

	@include media-breakpoint-up(md) {
		align-items: center;

		@include border-radius($border-radius);

		flex-direction: row;
	}

	.autofit-col {
		padding: 0.75rem 0.5rem;
	}

	.apply-filters {
		@include media-breakpoint-down(sm) {
			text-align: center;
		}

		.btn {
			margin-left: 0.5rem;
			margin-right: 0.5rem;
		}
	}

	.dropdown-toggle {
		.inline-item-after {
			margin-left: 2em;
		}

		.lexicon-icon {
			color: #272833;
		}
	}

	.component-link {
		display: inline-block;
		padding: 0.5rem 1rem;

		&:hover {
			text-decoration: none;
		}
	}
}

.order-details-header {
	background-color: #383735;

	@include border-top-radius($border-radius);

	color: rgba(255, 255, 255, 0.65);
	font-size: 0.75rem;

	.autofit-col {
		padding: $grid-gutter-width / 2;

		@include media-breakpoint-up(md) {
			padding: 1.5rem;
		}
	}
}

.order-details-reorder {
	align-items: center;
	background-color: #30313F;
	justify-content: center;
}

.order-details-title {
	@include clay-text-typography($order-details-title);
}

.order-details-subtitle {
	@include clay-text-typography($order-details-subtitle);
}

.order-details-table {
	.table-list {
		thead {
			background-color: #F9F9F9;
		}
	}

	.table-responsive {
		@include border-bottom-radius($border-radius);

		border-left-width: 1px;
		border-right-width: 1px;
	}

	.lfr-entry-action-column {
		text-align: center;
	}
}

.order-details-footer {
	border-color: #E7E7ED;
	border-style: solid;
	border-width: 0 1px;
	font-size: 0.8125rem;

	.autofit-col {
		padding: $grid-gutter-width / 2;

		@include media-breakpoint-up(md) {
			padding: 1rem;
		}
	}

	strong {
		font-weight: $font-weight-semi-bold;
	}
}

.order-shipping-address-list {
	.list-group-text, .list-group-title {
		display: block;
	}

	.custom-control .custom-control-input:focus ~ .custom-control-label::before {
		box-shadow: 0 0 0 1px $list-group-bg, 0 0 0 2px lighten(saturate($component-active-bg, 3.40), 21.18);
	}
}