// This file is for defining and overwriting theme variables contained in main.scss
// which also imports _custom.scss.

$body-bg: #F1F2F5;
$bright-color: #1865FB;
$complementary-color: #30313F;
$dark-color: #272833;
$light-color: #E7E7ED;

$portlet-decorate-bg: #FFF;
$portlet-decorate-border: 1px solid $light-color;

// Commerce Subnavigation

$commerce-subnavigation-size: () !default;
$commerce-subnavigation-size: map-merge((
	scaling-navbar: true,
	height: 4rem,
	height-mobile: 3rem,
	font-size: 0.875rem,
	container-padding-x: $grid-gutter-width / 2,
	container-padding-x-mobile: 0,
	link-margin-x: 0,
	link-margin-x-mobile: -12px,
	link-padding-x: 1rem,
	link-padding-x-mobile: 1.25rem,
	brand-font-size: 1.25rem,
	brand-font-size-mobile: 1rem,
	toggler-link-font-size: 1rem
), $commerce-subnavigation-size);

$commerce-subnavigation-dark: () !default;
$commerce-subnavigation-dark: map-merge((
	bg: #242322,
	color: #CECECE,
	link-color: #CECECE,
	link-hover-bg: #302F2D,
	link-font-weight: $font-weight-light,
	brand-color: #CECECE,
	brand-hover-bg: #302F2D
), $commerce-subnavigation-dark);

// Commerce Site Search Navigation

$commerce-site-search-navigation-size: () !default;
$commerce-site-search-navigation-size: map-merge((
	scaling-navbar: true,
	font-size: 1.125rem,
	font-size-mobile: 0.875rem,
	link-padding-x: 1rem,
	link-padding-x-mobile: 0.5rem
), $commerce-site-search-navigation-size);

$commerce-site-search-navigation: () !default;
$commerce-site-search-navigation: map-merge((
	color: #545253,
	link-color: #545253,
	link-hover-color: #57866A,
	brand-color: #545253,
	brand-hover-color: #57866A
), $commerce-site-search-navigation);

// Commerce Site Navigation

$commerce-site-navigation-size: () !default;
$commerce-site-navigation-size: map-merge((
	scaling-navbar: true,
	border-top-width: 0.0625rem,
	font-size: 1.125rem,
	font-size-mobile: 0.875rem,
	link-padding-x: 1.25rem,
	link-padding-x-mobile: 0.5rem
), $commerce-site-navigation-size);

$commerce-site-navigation: () !default;
$commerce-site-navigation: map-merge((
	border-color: #F3F3F3,
	color: #262626,
	link-color: #262626,
	link-hover-color: #296346,
	brand-color: #262626,
	brand-hover-color: #296346
), $commerce-site-navigation);

// Commerce Carousel

$commerce-carousel-control-size: 5rem !default;
$commerce-carousel-control-size-mobile: 2.5rem !default;

$commerce-carousel-text-column-width: 40% !default;

$commerce-carousel-image-column-width: 60% !default;

// Commerce Card

$commerce-simple-card-title: () !default;
$commerce-simple-card-title: map-merge((
	color: $body-color,
	font-size: 1.125rem,
	font-weight: $font-weight-normal
), $commerce-simple-card-title);

// breccia-commerce-cart-content

$breccia-commerce-cart-content-table-title: () !default;
$breccia-commerce-cart-content-table-title: map-merge((
	font-size: 1.25rem,
	font-weight: $font-weight-normal,
	margin-bottom: 1rem,
	clay-link: (
		display: inline-block
	)
), $breccia-commerce-cart-content-table-title);

$breccia-commerce-cart-content-table-subtitle: () !default;
$breccia-commerce-cart-content-table-subtitle: map-merge((
	color: #A3A3A3
), $breccia-commerce-cart-content-table-subtitle);

$breccia-commerce-cart-content-table-text: () !default;
$breccia-commerce-cart-content-table-text: map-merge((
	font-weight: $font-weight-light
), $breccia-commerce-cart-content-table-text);

// Cart Content Mini

$commerce-order-items-header-bg: null !default;
$commerce-order-items-header-color: null !default;

$commerce-order-items-body-bg: null !default;
$commerce-order-items-body-color: null !default;

$commerce-order-items-body-list-group-text: () !default;
$commerce-order-items-body-list-group-text: map-merge((
	color: inherit,
	font-size: 0.8125rem,
	font-weight: $font-weight-light,
	margin-top: -0.25rem
), $commerce-order-items-body-list-group-text);

$commerce-order-items-body-list-group-title: () !default;
$commerce-order-items-body-list-group-title: map-merge((
	color: $commerce-order-items-body-color,
	font-size: 1.125rem,
	font-weight: $font-weight-normal,
	margin-bottom: 0.125rem,
	margin-top: -0.125rem,
	clay-link: (
		color: $commerce-order-items-body-color,
		hover-color: $commerce-order-items-body-color
	)
), $commerce-order-items-body-list-group-title);

$commerce-order-items-body-list-group-subtitle: () !default;
$commerce-order-items-body-list-group-subtitle: map-merge((
	color: inherit,
	font-size: 0.75rem
), $commerce-order-items-body-list-group-subtitle);

$commerce-order-items-footer-bg: null !default;
$commerce-order-items-footer-color: null !default;

// Commerce Product Detail

$product-detail-image-widget-width: 100% !default;

$product-detail-image-widget-height: calc(#{$product-detail-image-widget-width} * 0.9) !default;

$product-detail-image-widget-width-sm: 350px !default;

$product-detail-image-widget-height-sm: calc(#{$product-detail-image-widget-width-sm} * 0.84) !default;

$product-detail-image-widget-width-md: null !default;

$product-detail-image-widget-height-md: null !default;

$product-detail-image-widget-width-lg: 400px !default;

$product-detail-image-widget-height-lg: calc(#{$product-detail-image-widget-width-lg} * 0.84) !default;

$product-detail-image-widget-width-xl: 550px !default;

$product-detail-image-widget-height-xl: calc(#{$product-detail-image-widget-width-xl} * 0.84) !default;

// Commerce Organization Orders

$order-details-title: () !default;
$order-details-title: map-merge((
	color: #FFF,
	font-size: 1.125rem,
	font-weight: $font-weight-semi-bold,
	margin-bottom: 0.75rem
), $order-details-title);

$order-details-subtitle: () !default;
$order-details-subtitle: map-merge((
	font-weight: $font-weight-semi-bold,
	margin-bottom: 0.5rem
), $order-details-subtitle);