@import "./static-version/src/styles/minium";

/* inject:imports */

/* ---------- endinject ---------- */

html {
	background-color: $color-bg-alt;
}

#minium {
	transition: padding ease 500ms;

	body.signed-in & .minium-frame__topbar {
		top: $liferay-topbar-size;

		@media screen and (max-width: 767px) {
			top: $liferay-topbar-size-small;
		}
	}

	body.signed-in & .minium-frame__toolbar {
		margin-top: $liferay-topbar-size;

		@media screen and (max-width: 767px) {
			margin-top: $liferay-topbar-size-small;
		}
	}

	body.signed-in & .minium-frame__sidebar {
		top: $liferay-topbar-size;

		@media screen and (max-width: 767px) {
			top: $liferay-topbar-size-small;
		}
	}

	@media screen and (hover: none) {
		body.signed-in & .minium-frame__sidebar {
			top: auto;
		}
	}

	body.open & .minium-frame__topbar,
	body.open & .minium-frame__toolbar,
	body.open & .minium-frame__sidebar {
		left: 320px;
	}

	body.open-admin-panel & .minium-frame__topbar,
	body.open-admin-panel & .minium-frame__toolbar,
	body.open-admin-panel & .minium-frame__sidebar {
		right: 320px;
	}

	body.open & .minium-frame__content {
		margin-left: 320px;
	}

	input[type="checkbox"] {
		-webkit-appearance: none;
		background: #FFF;
		border: 2px solid rgba(157, 158, 158, 0.5);
		border-radius: 4px;
		height: 16px;
		position: relative;
		width: 16px;

		&::after {
			border-bottom: 2px solid $color-theme;
			border-left: 2px solid $color-theme;
			content: '';
			height: 5px;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -63%) rotate(-45deg) scale(0);
			transition: all $micro-transition;
			width: 8px;
		}

		&:checked {
			border-color: $color-theme;

			&::after {
				transform: translate(-50%, -63%) rotate(-45deg) scale(1);
			}
		}
	}

	.container-fluid-max-xl {
	max-width: initial;
	}

	.page-header {
		border-radius: 8px;
	}

	.form-group-inline {
		margin-bottom: 0;
	}
}

#commerceAccountOrganizationsCommerceTable,
#commerceAccountUsersCommerceTable,
#commerceAccountAddressesCommerceTable {
	margin-left: -12px;
	margin-right: -12px;
}