@import "./minium/minium";

.minium-login {
    background-color: #E5EBF4;
    height: 100%;

    &, > .flipped {
        height: 100%;
    }

    .portlet-layout {
        .portlet-column {
            height: 100%;
            padding: 0;

            &.portlet-column-last {
                @include media-breakpoint-down(sm) {
                    height: 100%;
                    position: absolute;
                }
            }
        }

        .portlet-dropzone.portlet-column-content {
            height: 100%;

            .portlet-content {
                background-color: #FFF;
                height: 100%;

                .portlet-content-container {
                    height: 100%;

                    .portlet-body {
                        height: 100%;

                        .journal-content-article {
                            height: 100%;

                            p {
                                height: 100%;
                                margin: 0;
                            }

                            picture > img {
                                height: 100%;
                                object-fit: cover;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .btn-group + .info-panel {
        @include md {
            top: auto;
        }
    }

    #_com_liferay_login_web_portlet_LoginPortlet_loginForm, #_com_liferay_login_web_portlet_LoginPortlet_fm {
        .btn {
            @include clay-button-variant($gsdc-btn-primary);

            height: 60px;
            border-radius: 8px;
            box-shadow: 0 15px 20px 5px #4c84ff2e;
            display: block;
            transition: .5s ease;
            width: 100%;

            &:hover {
                box-shadow: 0 20px 20px 5px #4c84ff2e;
                transform: translate(0, -5px);
            }
        }
    }

    .minium {
        height: 100%;
    }

    .minium-content {
        height: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;

        > .portlet-layout {
            height: 100%;
            margin-left: 0;
            margin-right: 0;

            > .portlet-column-only {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .portlet, .portlet-boundary {
            height: 100%;
        }

        #main-content {
            height: 100%;

            .navigation {
                margin-bottom: auto;

                .icon-plus, .icon-plus + .taglib-text {
                    display: none;
                }
            }

            .row {
                height: 100%;
                margin: 0;
                width: 100%;

                .form-group.form-inline.input-checkbox-wrapper {
                    display: inherit;
                    margin-bottom: 0;
                }
            }

            .col-md-12.portlet-column.portlet-column-only {
                .portlet-content {
                    height: 100%;

                    a.portlet-icon-back {
                        display: none;
                    }

                    .portlet-content-container {
                        height: 100%;

                        .portlet-body {
                            height: 100%;

                            .login-container {
                                height: 100%;
                                margin: auto;
                                max-width: 768px;
                            }
                        }
                    }
                }
            }
        }
    }

    .portlet-login {
        height: 100%;

        .portlet {
            margin-bottom: 0;

            .portlet-content-container {
                padding: 0;
            }
        }

        .login-container {
            background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
            margin-left: auto;
            padding: 20px 75px;
            width: 80%;

            input, label {
                font-size: 16px;

                &#_com_liferay_login_web_portlet_LoginPortlet_login {
                    height: 55px;
                    font-size: 20px;
                }

                &#_com_liferay_login_web_portlet_LoginPortlet_password {
                    height: 55px;
                    font-size: 33px;
                }
            }

            @include media-breakpoint-down(lg) {
                padding-left: 5rem;
                padding-right: 3rem;
                width: 100%;
            }

            @include media-breakpoint-down(md) {
                padding-left: 2rem;
                padding-right: 2rem;
            }

            @include media-breakpoint-down(sm) {
                background-color: rgba(39, 40, 51, 0.8);
                flex-grow: 1;
                justify-content: flex-start;
                margin-left: 0;
                padding-top: 15vh;
                position: relative;
                z-index: 1;

                input, label {
                    color: #FFF;
                }

                input:focus {
                    color: #000;
                }
            }

            form {
                margin-top: auto;
            }
        }
    }
}

#currentHead {
    display: none;
}