.side-panel {
  box-shadow: -10px 20px 30px rgba(39, 40, 51, 0.15);
  background-color: #F1F2F5;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  transition: transform ease 500ms, box-shadow ease 500ms, width ease 500ms;
  will-change: transform, box-shadow, opacity, width;
  z-index: 989;

  &-close {
    position: absolute;
    right: 0;
    top: 0;
    transition: top ease-in-out .1s, right ease-in-out .1s, opacity ease-in .2s;
    z-index: 1;
    opacity: .5;
    
    &-simple {
      top: 29px;
      right: 20px;
      opacity: 1;
    }
    
    &-menu {
      top: 4px;
      right: 16px;
      opacity: 1;
    }
  }

  &.is-hidden {
    transform: translateX(100%);
    box-shadow: 0 0 0 rgba(39, 40, 51, 0.15);
  }

  &-xs { width: 25%; }
  &-sm { width: 33%; }
  &-md { width: 50%; }
  &-lg { width: 66%; }
  &-xl { width: 75%; }
  &-full { width: 100%; }

  .tab-content,
  .tab-pane {
    height: 100%;
    position: relative;
  }

  .nav {
    border-bottom: 1px solid #DDDEE7;
  }

  .loader {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }
    
  &:not(.is-loading) .loader {
    transition: all ease 200ms;
    opacity: 0;
    pointer-events: none;
  }

  iframe {
    height: 100%;
    width: 100%;
  }

  &.is-loading iframe {
    display: none;
  }

  .side-menu {
    bottom: 0;
    border-bottom-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 100%;
    top: 0;
  }
}

.side-panel-header {
  padding-right: 42px;
  background-color: white;
  position: sticky;
  top: 0;

  .nav-link {
    line-height: 21px;
  }
}

.side-panel-iframe {
  padding: map-get($spacers, 3);
  background-color: $info-bc;

  &-menu-wrapper {
    padding-right: 60px;
    position: sticky;
    top: 0;
  }

  &-wrapper {
    padding: map-get($spacers, 4) map-get($spacers, 3);
  }

  &-header {
    &-sticky {
      position: sticky;
      padding-right: 50px;
      top: 1.5rem;
      z-index: 10;
      background: #f7f7f7;

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        background: #f7f7f7;
        border-radius: 4px 4px 0 0;
        box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
        clip-path: polygon(-10% -10%, 110% -10%, 110% 100%, -10% 100%);
      }

      &::before {
        content: '';
        position: absolute;
        z-index: -2;
        background-color: $background-color;
        bottom: 0;
        left: -#{map-get($spacers, 3)};
        right: -#{map-get($spacers, 3)};
        height: calc(100% + #{map-get($spacers, 4)});
      }
    }

    .title {
      margin: 0;
    }
  }

  &-content {
    padding: map-get($spacers, 3);
    border-radius: 0 0 4px 4px;
    background: white;
  }
}