#minium {
	font-family: 'Roboto', sans-serif;

	button{
		&:focus {
			outline: none;
		}
	}

	svg {
		vertical-align: middle
	}
}

button {
	background: none;
	border: none;
}

.dropdown-menu {
	z-index: 1200;
}