.btn {
  align-content: center;
  align-items: center;
  border: 2px solid transparent;
  background: transparent;
  border-radius: 8px;
  display: inline-flex;
  font-size: 10px;
  font-weight: 900;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 1.25;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -2;
    transition: background-color .3s ease-in;
  }

  &:active,
  &:focus,
  &:focus-within {
    box-shadow: none !important;
    outline: none !important;
  }

  &[disabled],
  .disabled {
    cursor: not-allowed;;
  }

  &:not([disabled]):not(.disabled):not(.btn-unstyled):not(.btn-link) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -30px;
      margin-left: -30px;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      opacity: 0;
      padding: 0;
      pointer-events: none;
      transition: all ease-in-out .3s;
      transform: scale(0, 0);
      z-index: -1;
    }
    
    &:hover::after {
      opacity: 1;
      transform: scale(5, 5);
    }
  }

  &.btn-unstyled {
    border: none;
    border-radius: 0;
    font-size: inherit;
    font-weight: inherit;
    display: inline-block;
    letter-spacing: normal;
    line-height: inherit;
    padding: 0;
    text-transform: none;

    &:focus,
    &:focus-within {
      box-shadow: none;
    }
  }

  &.btn-primary {
    border-color: $color-theme;
    background: transparent;
    color: $color-bg;

    &:not([disabled]):not(.disabled) {
      &::before {
        background-color: $color-theme;
      }

      &:hover::before {
        background-color: $color-theme-dark;
      }
      
      &::after {
        background-color: $color-theme-dark;
      }
    }

    &[disabled] {
      border-color: $color-disabled;

      &::before {
        background-color: $color-disabled;
      }
    }
  }

  &.btn-secondary {
    border-color: $color-theme;
    color: $color-theme;
    background: transparent;

    &::before {
      background-color: $color-bg;
    }

    &:not([disabled]):not(.disabled) {
      &:hover::before {
        background-color: $color-border;
      }

      &::after {
        background-color: $color-border;
      }
    }

    &[disabled] {
      border-color: $color-disabled;
      color: $color-disabled;

      &::before {
        background-color: $color-bg;
      }
    }
  }

  &.btn-success {
    border-color: $color-mood-good;
    background: transparent;
    color: $color-bg;

    &:not([disabled]):not(.disabled) {
      &::before {
        background-color: $color-mood-good;
      }

      &:hover::before {
        background-color: darken( $color-mood-good, 10% );
      }
      
      &::after {
        background-color: darken( $color-mood-good, 10% );
      }
    }

    &[disabled] {
      border-color: lighten($color-mood-good, 20%);;

      &::before {
        background-color: lighten($color-mood-good, 20%);;
      }
    }
  }

  &.btn-danger {
    border-color: $color-mood-bad;
    background: transparent;
    color: $color-bg;

    &:not([disabled]):not(.disabled) {
      &::before {
        background-color: $color-mood-bad;
      }

      &:hover::before {
        background-color: darken( $color-mood-bad, 10% );
      }
      
      &::after {
        background-color: darken( $color-mood-bad, 10% );
      }
    }

    &[disabled] {
      border-color: lighten($color-mood-bad, 20%);;

      &::before {
        background-color: lighten($color-mood-bad, 20%);;
      }
    }
  }

  &.btn-warning {
    border-color: $color-mood-neutral;
    background: transparent;
    color: $color-bg;

    &:not([disabled]):not(.disabled) {
      &::before {
        background-color: $color-mood-neutral;
      }

      &:hover::before {
        background-color: darken( $color-mood-neutral, 10% );
      }
      
      &::after {
        background-color: darken( $color-mood-neutral, 10% );
      }
    }

    &[disabled] {
      border-color: lighten($color-mood-neutral, 20%);;

      &::before {
        background-color: lighten($color-mood-neutral, 20%);;
      }
    }
  }

  &.btn-monospaced {
    border-radius: 8px;
  }

  &.btn-sm {
    height: 44px;

    &.btn-monospaced {
      width: 44px;
    }
  }

  &.btn-lg {
    font-size: 12px;
    height: 64px;

    &.btn-monospaced {
      width: 64px;
    }
  }
  
  &.btn-fixed {
    min-width: 170px;
  }
}