.btn {
  align-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 8px;
  display: inline-flex;
  font-size: 10px;
  font-weight: 900;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 1.25;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:focus,
  &:focus-within {
    box-shadow: $shadow-focus;
    outline: none;
  }

  &.btn-unstyled {
    border: none;
    border-radius: 0;
    font-size: inherit;
    font-weight: inherit;
    display: inline-block;
    letter-spacing: normal;
    line-height: inherit;
    padding: 0;
    text-transform: none;

    &:focus,
    &:focus-within {
      box-shadow: none;
    }
  }

  &.btn-primary {
    background-color: $color-theme;
    border-color: $color-theme;
    color: $color-bg;

    &:not([disabled]):not(.disabled) {
      &:hover {
        background-color: $color-theme-dark;
        border-color: $color-theme-dark;
      }
  
      &:active,
      &:focus {
        background-color: darken( $color-theme-dark, 10% );
        border-color: darken( $color-theme-dark, 10% );
      }
    }

    &[disabled] {
      background-color: $color-theme;
      border-color: $color-theme;
      color: $color-bg;
    }
  }

  &.btn-secondary {
    background-color: $color-bg;
    border-color: $color-theme;
    color: $color-theme;

    &:not([disabled]):not(.disabled) {
      &:hover {
        background-color: $color-bg-medium;
      }
  
      &:active,
      &:focus {
        color: $color-theme;
        background-color: $color-bg;
      }
    }
  }

  &.btn-success {
    background-color: $color-mood-good;
    border-color: $color-mood-good;
    color: $color-bg;

    &:not([disabled]):not(.disabled) {
      &:hover {
        background-color: darken( $color-mood-good, 10% );
        border-color: darken( $color-mood-good, 10% );
      }
  
      &:active,
      &:focus {
        background-color: darken( $color-mood-good, 20% );
        border-color: darken( $color-mood-good, 20% );
      }
    }
  }

  &.btn-danger {
    background-color: $color-mood-bad;
    border-color: $color-mood-bad;
    color: $color-bg;

    &:not([disabled]):not(.disabled) {
      &:hover {
        background-color: darken( $color-mood-bad, 10% );
        border-color: darken( $color-mood-bad, 10% );
      }
  
      &:active,
      &:focus {
        background-color: darken( $color-mood-bad, 20% );
        border-color: darken( $color-mood-bad, 20% );
      }
    }
  }

  &.btn-warning {
    background-color: $color-mood-neutral;
    border-color: $color-mood-neutral;
    color: $color-bg;

    &:not([disabled]):not(.disabled) {
      &:hover {
        background-color: darken( $color-mood-neutral, 10% );
        border-color: darken( $color-mood-neutral, 10% );
      }
  
      &:active,
      &:focus {
        background-color: darken( $color-mood-neutral, 20% );
        border-color: darken( $color-mood-neutral, 20% );
      }
    }
  }

  &.btn-monospaced {
    border-radius: 8px;
  }

  &.btn-sm {
    height: 44px;

    &.btn-monospaced {
      width: 44px;
    }
  }

  &.btn-lg {
    font-size: 12px;
    height: 64px;

    &.btn-monospaced {
      width: 64px;
    }
  }
  
  &.btn-fixed {
    min-width: 170px;
  }

  &[disabled] {
    background-color: $color-disabled;
    cursor: inherit;
  }
}