.btn {
  align-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 8px;
  display: inline-flex;
  font-size: 10px;
  font-weight: 900;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 1.25;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;

  &::after {
    transition: all ease-in-out .3s;
  }

  &:active,
  &:focus,
  &:focus-within {
    box-shadow: none !important;
    outline: none !important;
  }
  
  &:not([disabled]):not(.disabled):not(.btn-unstyled):not(.btn-link) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -30px;
      margin-left: -30px;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      opacity: 0;
      pointer-events: none;
      transition: all ease-in-out .6s;
      transform: scale(5, 5);
    }

    &[disabled] {
      cursor: not-allowed;;
    }
  
    &:active::after {
      padding: 0;
      opacity: .2;
      transition: 0s;
      transform: scale(0, 0);
    }
  }

  &.btn-unstyled {
    border: none;
    border-radius: 0;
    font-size: inherit;
    font-weight: inherit;
    display: inline-block;
    letter-spacing: normal;
    line-height: inherit;
    padding: 0;
    text-transform: none;

    &:focus,
    &:focus-within {
      box-shadow: none;
    }
  }

  &.btn-primary {
    background-color: $color-theme;
    border-color: $color-theme;
    color: $color-bg;

    &:not([disabled]):not(.disabled) {
      &:hover {
        background-color: $color-theme;
        border-color: $color-theme;
      }
      
      &::after {
        background-color: lighten($color-theme, 40%);
      }
    }

    &[disabled] {
      background-color: $color-disabled;
      border-color: $color-disabled;
    }
  }

  &.btn-secondary {
    background-color: $color-bg;
    border-color: $color-theme;
    color: $color-theme;

    &:not([disabled]):not(.disabled) {
      &:hover {
        background-color: $color-bg-medium;
      }
  
      &:active {
        color: $color-theme;
        background-color: $color-bg;
        border-color: $color-theme;
      }

      &::after {
        background-color: $color-theme;
      }
    }

    &[disabled] {
      border-color: $color-disabled;
      color: $color-disabled;
      background: $color-bg;;
    }
  }

  &.btn-success {
    background-color: $color-mood-good;
    border-color: $color-mood-good;
    color: $color-bg;

    &:not([disabled]):not(.disabled) {
      &:hover {
        background-color: darken( $color-mood-good, 10% );
        border-color: darken( $color-mood-good, 10% );
      }

      &::after {
        background-color: lighten($color-mood-good, 40%);
      }
    }
  }

  &.btn-danger {
    background-color: $color-mood-bad;
    border-color: $color-mood-bad;
    color: $color-bg;

    &:not([disabled]):not(.disabled) {
      &:hover {
        background-color: darken( $color-mood-bad, 10% );
        border-color: darken( $color-mood-bad, 10% );
      }
  
      &:active,
      &:focus {
        background-color: darken( $color-mood-bad, 20% );
        border-color: darken( $color-mood-bad, 20% );
      }
    }
  }

  &.btn-warning {
    background-color: $color-mood-neutral;
    border-color: $color-mood-neutral;
    color: $color-bg;

    &:not([disabled]):not(.disabled) {
      &:hover {
        background-color: darken( $color-mood-neutral, 10% );
        border-color: darken( $color-mood-neutral, 10% );
      }
  
      &:active,
      &:focus {
        background-color: darken( $color-mood-neutral, 20% );
        border-color: darken( $color-mood-neutral, 20% );
      }
    }
  }

  &.btn-monospaced {
    border-radius: 8px;
  }

  &.btn-sm {
    height: 44px;

    &.btn-monospaced {
      width: 44px;
    }
  }

  &.btn-lg {
    font-size: 12px;
    height: 64px;

    &.btn-monospaced {
      width: 64px;
    }
  }
  
  &.btn-fixed {
    min-width: 170px;
  }
}