.card {
  background-color: transparent;
  border: none;
  box-shadow: none;
  position: inherit;

  .card-body {
    background: white;
    border-radius: $standard-radius;

    &:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .card-header {
    background: white;
    border-radius: $standard-radius;
    margin-bottom: $xs-gutter;
    @include card-title;
  }
}