.commerce-panel {
  &__title {
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 40px;

    @media only screen and (max-width: $bp-small) {
      margin: 25px 0;
    }
  }
}
