.commerce-button {
  align-items: center;
  background-color: $color-theme;
  border-radius: 4px;
  border: 0;
  color: #FFF;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  min-width: 180px;

  @media only screen and (max-width: $bp-small) {
    height: 40px;
    line-height: 40px;
    min-width: 135px;
  }
}
