.commerce-topbar-button {
align-items: center;
background-color: #FFF;
border: 0;
color: currentColor;
cursor: pointer;
display: flex;
flex-shrink: 0;
font-size: 20px;
height: 80px;
justify-content: center;
margin: 0;
padding: 0;
position: relative;
transition: all ease 150ms;
width: 80px;

&__icon {
	&--active {
	 display: none;
	}
}

&::before {
	background-color: white;
	bottom: 0;
	content: '';
	left: 0;
	mix-blend-mode: difference;
	position: absolute;
	right: 0;
	top: 0;
	transform: scaleY(0);
	transform-origin: bottom;
	transition: inherit;
}

&:hover {
	color: black;

	&::before {
	 transform: scaleY(1);
	}
}
}