.commerce-orders-container {
  #commercePlacedOrdersTable {
    thead th {
      font-weight: 600;

      &:nth-child(4) {
        display: none;
      }
    }

    tbody td {
      &:nth-child(1) {
        vertical-align: top;
        padding-top: 20px;
        padding-left: 22px;

        h1 {
          font-weight: 600;
        }
      }

      &:nth-child(4) {
        display: none;
      }
    }
  }
}
