.commerce-topbar-button {
	align-items: center;
	border: 0;
	color: currentColor;
	cursor: pointer;
	display: flex;
	flex-shrink: 0;
	font-size: 20px;
	height: 80px;
	justify-content: center;
	margin: 0;
	padding: 0;
	position: relative;
	transition: all ease 150ms;
	width: 80px;
	z-index: 0;

	@media screen and (max-width: 767px) {
		background-color: $color-bg;
		width: 60px;
		height: 70px;
	}

	& > svg {
		z-index: 1;
	}

	&__icon {
		&--active {
			display: none;
		}
	}

	@include speedwellButtonEffect()
}
