.commerce-cart {
  bottom: 0;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  position: fixed;
  right: 0;
  top: $liferay-topbar-size;
  transition: all ease 200ms;
  width: 100%;

  @media screen and (max-width: 767px) {
    top: calc(#{$speedwell-topbar-size-small} - 1px);
  }

  &::before {
    background: rgba(42, 42, 42, 0.7);
    bottom: 0;
    content: '';
    left: 0;
    position: fixed;
    right: 0;
    top: calc(56px + 80px);
    transition: all ease 200ms 200ms;

    @media screen and (max-width: 767px) {
      top: calc(#{$liferay-topbar-size-small} + #{$speedwell-topbar-size-small} - 1px);
    }
  }

  &:not(.is-open)::before {
    opacity: 0;
  }

  &:not(.is-open) {
    transform: translateX(100%);
  }

  & &__close {
    background-color: $stroke !important;
    color: #FFF !important;
    bottom: 100%;
    top: 0;
    left: calc(100% - 80px);

    &:hover {
      color: #FFF;
    }

    &::before {
      mix-blend-mode: color;
    }
  }

  &__top {
    align-items: center;
    background-color: $stroke;
    color: #fff;
    display: flex;
    font-size: 16px;
    height: 60px;
    justify-content: space-between;
    padding: 10px 30px;
    position: relative;

    a,
    a:hover {
      color: currentColor;
      text-decoration: underline;
    }
  }

  &__content {
    background: white;
    flex-grow: 1;
    position: relative;
  }

  &__footer {
    background: white;
    border-top: 1px solid #F2F2F2;
    position: relative;

    @media screen and (max-width: 767px) {
      .commerce-button {
        border-radius: unset !important;
      }
    }
  }

  &__totals {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px;
    text-align: right;

    dt {
      flex: 1 1 60%;
      font-size: 11px;
      font-weight: normal;
      letter-spacing: 1.1px;
      margin: 0;
      opacity: 0.75;
      text-transform: uppercase;

      &::after {
        content: ':';
      }
    }

    dd {
      flex: 1 1 10%;
      font-size: 12px;
      margin-bottom: 0;

      big {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .commerce-cart.commerce-cart {
    top: calc(#{$liferay-topbar-size-small} + #{$speedwell-topbar-size-small}) !important;
  }
}
