.main-link {
  color: currentColor;
  font-size: 14px;
  font-weight: 600;
  margin: 0 20px;
  position: relative;

  &:hover {
    color: currentColor;
  }

  &.is-active::before,
  &.is-active::after {
    background: $color-theme;
    content: '';
    height: 3px;
    position: absolute;
    top: 140%;
    width: 4px;
  }

  &.is-active::before {
    right: 0;
    transform: skew(0deg, 22deg) rotateZ(-120deg);
    top: 50%;
    margin-top: -2px;
  }

  &.is-active::after {
    top: 50%;
    left: 100%;
    transform: skew(0deg, -22deg) rotateZ(120deg);
    margin-top: 1px;
    margin-left: -4px;
  }

  @media (max-width: 767px) {
    margin: 20px 0;
  }
}
