.main-link {
  color: currentColor;
  font-size: 14px;
  font-weight: 600;
  margin: 0 20px;
  position: relative;

  &:hover {
    color: currentColor;
    text-decoration: none;
  }

  &:hover::after,
  &.is-active::after {
    color: $color-theme;
    content: '>>';
    letter-spacing: -14px;
    height: 10px;
    position: absolute;
    top: 100%;
    width: 10px;
    line-height: 10px;
    font-size: 20px;
    font-weight: bolder;
    left: 50%;
    transform: rotateZ(90deg) scale(.4, .9);
    margin-left: -5px;
    text-shadow: 0 0 0px #30CFA1;
  }

  @media (max-width: $bp-small) {
    margin: 20px 0;
  }
}
