.minium-product-gallery {
	margin: 40px 0;

	img {
		max-width: 100%;
	}

	&__main {
		animation-duration: 300ms;
		background-color: #FFF;
		border-radius: 8px;
		cursor: zoom-in;
		height: 0;
		overflow: hidden;
		padding-bottom: 77%;
		position: relative;
		width: 100%;

		&.is-loading::before {
			background-color: #FFF;
			bottom: 0;
			content: '';
			left: 0;
			opacity: 0.5;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
		}

		&.is-loading::after {
			animation: minium-gallery-image-loading 1s infinite linear;
			border: 5px solid transparent;
			border-radius: 50%;
			border-top-color: $color-theme;
			content: '';
			height: 60px;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 60px;
			z-index: 1;
		}

		img {
			left: 50%;
			max-height: 100%;
			max-width: 100%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__fullscreen {
		background: #FFF;
		cursor: zoom-out;
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 10000;

		img {
			animation-duration: 300ms;
			left: 50%;
			max-height: 100%;
			max-width: 100%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__thumbs {
		display: flex;
		overflow-x: auto;
	}

	&__thumb {
		background: #FFF;
		border-radius: 4px;
		flex-shrink: 0;
		height: 58px;
		margin: 2px;
		overflow: hidden;
		position: relative;
		width: 75px;

		& + & {
			margin-left: 10px;
		}

		&.is-active {
			box-shadow: 0 0 0px 2px $color-theme;
		}

		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	&__prev,
	&__next {
		border-right: 4px solid #7F848D;
		border-top: 4px solid #7F848D;
		filter: drop-shadow(0 0 8px white);
		height: 80px;
		position: absolute;
		top: 50%;
		width: 80px;
	}

	&__prev {
		cursor: w-resize;
		left: 10px;
		transform: translateY(-50%) scaleX(0.75) rotate(-135deg);
	}

	&__next {
		cursor: e-resize;
		right: 10px;
		transform: translateY(-50%) scaleX(0.75) rotate(45deg);
	}
}

@keyframes minium-gallery-image-loading {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}

	to {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}
