.product-detail {
  #compareCheckbox {
    display: none;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 20px 0;

    @media only screen and (max-width: $bp-small) {
      margin: -10px 0 26px;
    }
  }

  .availability,
  .availabilityEstimate,
  .stockQuantity {
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
  }

  .stockQuantity {
    display: none;
  }

  @media only screen and (max-width: $bp-small) {
    .commerce-price {
      margin: 25px 0;
    }
  }
}
