.commerce-checkout {
  @media only screen and (max-width: 767px) {
    .commerce-multi-step-nav {
      display: none;
    }

    .button-holder {
      display: flex;
      flex-direction: column-reverse;

      .btn-primary {
        margin: 10px 0;
        padding: 0;
        line-height: 60px;
        height: 60px;
        font-weight: 600;
      }
    }
  }
}
