.speedwell-topbar {
align-items: center;
background-color: #FFF;
display: flex;
left: 0;
position: fixed;
right: 0;
top: 56px;
z-index: 100;

@media (max-width: 767px) {
	top: 48px;
}

&__menu {
	flex: 1 1 50%;
}

&__logo {
	display: flex;
	flex: 1 1 200px;
	justify-content: center;
}

&__actions {
	display: flex;
	flex: 1 1 50%;
	justify-content: flex-end;
}

&__search {
	// position: absolute;
}
}