.speedwell-frame {
	margin: auto;

	@media screen and (max-width: 767px) {
		margin-top: -.5em;
	}

	&__topbar {
		z-index: 20;
	}

	&__content {
		z-index: 21;
		max-width: 1240px;
		padding: 156px 0 40px;

		@media screen and (max-width: 767px) {
			padding: 80px 0 40px;
			min-height: calc(100vh - #{$speedwell-topbar-size-small});
		}

		&--wide {
			max-width: 100%;
			padding: $liferay-topbar-size 0 0 0;
		}
	}
}
