.speedwell-account {
  position: relative;

  &__dropdown {
    background-color: #FFF;
    box-shadow: 0px 15px 15px rgba(53, 53, 53, 0.15);
    max-width: 400px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100vw;
  }

  &:not(.is-open) &__dropdown {
    display: none;
  }

  &.is-open .speedwell-topbar__button {
    background: $stroke;
    color: $color-bg;

    // &:hover {
    // color: inherit;
    // }

    &::before {
      mix-blend-mode: color;
    }
  }

  &__title {
    align-items: center;
    background-color: $stroke;
    color: #fff;
    display: flex;
    font-size: 16px;
    height: 60px;
    padding: 10px 30px;
  }

  &__content {
    .speedwell-user-nav {
      &__sign-in {
        padding: 0 20px;
      }

      &__header {
        display: grid;
        grid-auto-flow: column;
        background-color: $stroke;
        color: white;
        box-sizing: border-box;
        padding: 10px 20px;
        line-height: 40px;

        p {
          margin: 0;
        }
      }

      &__menu {
        padding: 10px 30px;
        display: grid;
        grid-auto-flow: column;

        .user-account {
          li {
            line-height: 14px;
          }
        }
      }

      .main-link {
        font-weight: normal;

        &:hover {
          font-weight: 600;
          text-decoration: none;

          /* TODO: fix and add
          &::before {
            color: $color-theme;
            margin-left: -32px;
            content: '⟫';
            height: 100%;
            top: 100%;
            position: absolute;
            width: 10px;
          } */
        }

        &__icon {
          display: none;
        }
      }
    }
  }
}
