.commerce-cart-item {
  $item-image-size: 70px;
  $item-image-size-sm: 50px;
  $price-size: 70px;

  align-items: center;
  border-bottom: 1px solid rgba(180, 187, 201, 0.2);
  color: $stroke;
  display: grid;
  font-size: 13px;
  grid-gap: 15px;
	grid-template-areas: "image content actions price delete";
	grid-template-columns: $item-image-size 1fr auto $price-size min-content;
  max-height: 140px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  transition: max-height .2s ease-in, padding .1s ease-in;

  @media screen and (min-width: $bp-xxsmall) and (max-width: $bp-small) {
    grid-template-areas: "image content actions price"
                         "image price price" !important;
    grid-template-columns: $item-image-size-sm 120px $item-image-size 75px !important;
  }

  @media screen and (max-width: 375px) {
    grid-template-areas: "image content actions price" "image price price" !important;
    grid-template-columns: $item-image-size-sm 1fr 50px 75px !important;
  }

  &__image {
    align-self: center;
    background-position: center center;
    background-size: cover;
    border-radius: 4px;
    grid-area: image;
    height: 70px;
    margin: auto;
    overflow: hidden;
    width: 70px;

    @media screen and (max-width: $bp-small) {
      height: 50px !important;
      width: 50px !important;
    }
  }

  &__content {
    grid-area: content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (max-width: $bp-small) {
      font-size: 11px !important;
    }

    big {
      font-weight: bold;
    }
  }

  &__name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__sku {
    display: none;
  }

  &__price {
    grid-area: price;
    text-align: right;

    .price-value {
      display: block;
      font-size: 1.1em;
      margin: 0;

      @include specialPricesStyles;
    }
  }

  &__actions {
		grid-area: actions;

		.quantity-selector {
			input {
				font-size: 14px;
				max-width: 50px;
			}

			select {
				font-size: 14px;
				max-width: 70px;
			}

			.btn {
				font-size: 20px;
			}
		}
  }

  &__options {
    font-weight: 600;
  }

  &__errors {
    color: $color-mood-bad;
    font-weight: 600;
    grid-column: 1/3;
  }

  &__delete-wrapper {
    grid-area: delete;
  }

  &__delete {
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: 28px;
    height: 22px;
    justify-content: center;
    padding: 0;
    position: relative;
    transition: background-color .1s ease-out;
    width: 22px;

    &:hover {
      background-color: #F8F8F8;
      transition: background-color .1s ease-in;
    }

    &.is-disabled {
      cursor: wait;
      opacity: .5;
    }
  }

  &__cancel-delete {
    align-items: center;
    background-color: $color-fg;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform .2s ease-in;
    z-index: 1102;

    .commerce-cart-item.is-deleting & {
      transform: translateX(0%);
    }
  }

  &.is-collapsed {
    border-width: 0;
    max-height: 0;
    padding: 0 10px;
  }

  &.is-not-valid {
    background-color: $color-mood-bad;
  }
}
