.category-page {
  &__head {
    position: relative;
    background-size: 100% auto;
    background-position: center;
    box-sizing: border-box;
    padding: 100px 108px;
    width: 100%;
    height: 300px;
    margin-bottom: 35px;
    color: $color-bg;

    .category {
      &-title {
        font-size: 36px;
        font-weight: 400;
      }

      &-description {
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
}
