.speedwell-cart {
  .commerce-cart {
    top: 0;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    position: absolute;
    right: 0;
    transition: all ease 200ms;
    width: 100%;
    height: calc(100vh - #{$topbar-height});
  
    @media screen and (max-width: $bp-small) {
      height: calc(100vh - #{$topbar-height-small});
    }
  
    .has-control-menu.signed-in & {
      height: calc(100vh - #{$liferay-topbar-height});
  
      @media screen and (max-width: $bp-small) {
        height: calc(100vh - #{$liferay-topbar-height-small});
      }
    }

    &::before {
      background: rgba(42, 42, 42, 0.7);
      bottom: 0;
      content: '';
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      transition: all ease 200ms 200ms;
    }

    &:not(.is-open)::before {
      opacity: 0;
    }

    &:not(.is-open) {
      transform: translateX(100%);
    }

    &__container {
      background-color: $color-bg;
      box-shadow: -20px 0 40px $color-shadow;
      position: absolute;
      top: 0;
      right: 0;
      height: calc(100vh - #{$topbar-height});
      width: 100%;
      display: flex;
      flex-direction: column;
      top: $topbar-height;
  
      @media screen and (max-width: $bp-small) {
        height: calc(100vh - #{$topbar-height-small});
        top: $topbar-height-small;
      }
  
      .has-control-menu.signed-in & {
        height: calc(100vh - #{$liferay-topbar-height + $topbar-height});
    
        @media screen and (max-width: $bp-small) {
          height: calc(100vh - #{$liferay-topbar-height-small + $topbar-height-small});
        }
      }
    }

    &__close {
      background-color: $stroke !important;
      bottom: 100%;
      color: #FFF !important;
      right: 0;
      position: absolute !important;
      top: 0;

      &:hover {
        color: #FFF;
      }

      &::before {
        mix-blend-mode: color;
      }
    }

    &__top {
      align-items: center;
      background-color: $stroke;
      color: #fff;
      display: flex;
      font-size: 16px;
      height: 60px;
      justify-content: space-between;
      padding: 10px 30px;
      position: relative;

      @media only screen and (max-width: $bp-small) {
        height: 45px;
        font-size: 13px;
      }

      a,
      a:hover {
        color: currentColor;
        text-decoration: underline;
      }
    }

    &__content {
      background: white;
      flex-grow: 1;
      position: relative;
    }

    &__footer {
      background: white;
      border-top: 1px solid #F2F2F2;
      font-weight: bold;
      position: relative;

      a {
        text-decoration: none;
        transition: background-color .2s ease-out;

        &:hover {
          background-color: $color-theme-dark;
          color: white;
          transition: background-color .2s ease-in;
        }
      }
    }

    &__totals {
      align-items: baseline;
      color: $stroke;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 15px 45px;
      text-align: right;

      dt {
        flex: 1 1 60%;
        font-size: 12px;
        font-weight: normal;
        margin: 0;
        opacity: 0.75;
        text-transform: capitalize;

        &.final-total + dd {
          font-size: 16px;
          margin-top: 8px;
        }
      }

      dd {
        flex: 1 1 40%;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 0;

        big {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    .commerce-button--block {
      border-radius: 0;

      @media only screen and (max-width: $bp-small) {
        height: 60px;
      }
    }
  }
}
