.category-page {
  &__head {
    position: relative;
    background-size: 100% auto;
    background-position: center;
    box-sizing: border-box;
    padding: 100px 108px;
    width: 100%;
    height: 300px;
    margin-bottom: 35px;
    color: $color-bg;

    .category {
      &-title {
        font-size: 36px;
        font-weight: 400;
      }

      &-description {
        font-size: 20px;
        font-weight: 300;
      }
    }
  }

  /* .portlet-content-container {
    height: 300px;
    display: flex;
    align-items: center;
    padding: 0 100px;
  } */

  .panel {
    &-title {
      text-transform: uppercase;
      font-weight: bold !important;

      .collapse-icon {
        svg path {
          stroke: $stroke;
          stroke-width: 24px;
          fill: $stroke;
          transform: scale(.7, .7);
        }
      }
    }

    &-collapse {
      $panelClearButton: ".panel-body form > a.text-default";

      #{$panelClearButton} {
        position: absolute;
        right: 35px;
        top: 8px;
        font-size: 12px;
        text-decoration: none;
        color: $color-fg-alt;
        font-weight: bold;
        display: none;

        small {
          font-size: 90%;
        }
      }

      &.show {
        #{$panelClearButton} {
          display: inline;
        }
      }
    }
  }
}
