.portlet-commerce-cart-content {
  .quantity-control-column {
    display: none; // temporary
    min-width: 200px;

    .form-group,
    .input-text-wrapper {
      margin: 0 !important;

      .btn {
        font-size: 12px;
        padding: 7px;
        font-weight: bold;
      }
    }

    .form-control {
      height: 2.25rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.commerce-order-items {
  @media only screen and (max-width: 767px) {
    padding: 0;
  }

  &-container {
    font-size: 12px;

    .table {
      th, td {
        border-color: $stroke-alt;
      }

      th:first-child {
        color: transparent;
      }
    }

    tbody {
      font-size: 1.1em;
    }

    .lfr-product-column {
      text-align: right;

      @media only screen and (max-width: 767px) {
        padding: 0 !important;
        text-align: center;
      }


      .sticker {
        height: 5rem;
        width: 5rem;
      }
    }

    .lfr-description-column {
      min-width: 450px;

      @media only screen and (max-width: 767px) {
        min-width: 150px;
      }

      a {
        font-weight: bold;
      }
    }

    .lfr-unit-price-column,
    .lfr-price-column {
      max-width: 60px;
    }

    .lfr-price-column {
      text-align: right;
    }

    .lfr-price-column td {
      font-weight: bold;
    }

    .lfr-entry-action-column {
      .item-remove span {
        color: transparent;
      }

      .item-remove span::before {
        content: '\00d7';
        position: absolute;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 2em;
        color: $stroke;
        margin: -10px 0 0;
      }
    }
  }
}
