.speedwell-frame {
	margin: auto;

	@media screen and (max-width: 767px) {
		margin-top: -.5em;
	}

	&__content {
		max-width: 1240px;
		padding: 112px 0 40px;

		@media screen and (max-width: 767px) {
			padding: 80px 0 40px;
		}

		&--wide {
			padding: $liferay-topbar-size 0 0 0;
			max-width: 100%;
		}
	}
}
