.speedwell-frame {
	margin: auto;

	@media screen and (max-width: $bp-xsmall) {
		margin-top: -.5em;
	}

	&__topbar {
		z-index: 20;
	}

	&__content {
		max-width: 1440px;
		padding: 156px 0 40px;
		z-index: 21;

		@media screen and (max-width: $bp-xsmall) {
			min-height: calc(100vh - #{$topbar-height-small});
			padding: 80px 0 40px;
		}

		&--wide {
			max-width: 100%;
			padding: $liferay-topbar-height 0 0 0;
		}
	}
}
