.form-group {
  font-size: 12px;

  .control-label {
    font-weight: bold;
    padding-left: 10px;
    margin: 0;
  }

  .form-control {
    font-size: 14px;
    color: $stroke-variant;
    background-color: rgba(0, 0, 0, .05);
    border: 0;
    height: 50px;
  }

  .reference-mark {
    font-size: .35rem !important;

    &.text-warning {
      color: $stroke-variant !important;
    }
  }
}
