.account-management {
  div {
    display: block;
  }

  .col-lg-4 {
    max-width: 600px;
  }

  .form-control {
    width: 100%;
    max-width: 600px;
  }

  .commerce-cta {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 767px) {
      justify-content: center;
    }

    .btn {
      transform: translateX(-132%);
      font-weight: bold;
      font-size: 12px;
      height: 50px;
      line-height: 50px;
      padding: 0;

      @media screen and (max-width: 767px) {
        transform: translateX(0);
      }
    }
  }

  .taglib-logo-selector .avatar {
    border-radius: 50%;
  }

  .edit-logo {
    height: 100px;
    position: absolute;
    top: -120px;
    border-radius: 50%;
    width: 100px;
    opacity: 0;
  }
}
