.speedwell-main-menu {
  &__link-wrapper {
    align-items: center;
    animation: main-menu-enter ease-out 200ms;
    background-color: $stroke;
    bottom: 0;
    color: #FFF;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200;

    .commerce-topbar-button {
      background: $stroke;
      color: #fff;

      &::before {
        display: none;
      }

      path {
        fill: #FFF;
      }
    }
  }

  &:not(.is-open) &__link-wrapper {
    display: none;
  }

  &__links {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 80px;
    width: 100%;

    .main-link {
      display: inline-block;

      @media screen and (max-width: 767px) {
        display: block;
        text-align: center;
        margin-bottom: 4em;
        font-size: 1.1em;
        font-weight: 200;
      }

      &__icon {
        display: none;
      }
    }

    @media screen and (max-width: 767px) {
      background: $stroke;
      bottom: 0;
      left: 0;
      padding-right: 0;
      position: fixed;
      right: 0;
      top: calc(#{$liferay-topbar-size} + #{$speedwell-topbar-size-small} - 5px);
    }
  }

  .portlet-content-editable {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  }

  &::before {
    background: rgba(42, 42, 42, 0.7);
    bottom: 0;
    content: '';
    left: 0;
    position: fixed;
    right: 0;
    top: calc(56px + 80px);
    transition: all ease 200ms;
  }

  &:not(.is-open)::before {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes main-menu-enter {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}
