.login-container,
#signinmodal {
  margin: 0 auto;
  max-width: 31em;
  padding: 20px 30px;
  opacity: 0;
  animation: popUp .2s ease-out 1 forwards;
  animation-delay: .5s;

  @media screen and (max-width: 767px) {
    margin-top: 35px;
    padding: 20px 0 0 0;
  }

  .button-holder {
    .btn {
      width: 100%;
    }

    .lfr-button-label {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .sign-in-form {
    .input-container {
      margin-top: 20px;
    }

    &::before {
      content: 'Sign In';
      font-size: 1.4em;
      font-weight: 300;
      margin-top: -20px;
    }
  }

  // sign up + password forgotten

  .navigation {
    position: relative;
    margin-top: 50px;

    &::before {
      content: '';
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, .05);
      position: absolute;
      top: -35px;
      text-align: center;
    }

    &::after {
      content: 'New user?';
      display: block;
      text-align: center;
      font-size: 12px;
      background-color: white;
      margin: 0 auto;
      position: absolute;
      top: -45px;
      left: 50%;
      padding: 0 10px;
      transform: translateX(-50%);
      font-weight: 200;
    }

    li {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      height: 50px !important;
      line-height: 50px !important;
      text-align: center;
      font-size: 12px !important;

      &:nth-child(1) {
        border: 1px solid $stroke-variant;
        color: $stroke-variant !important;
        border-radius: 4px;
        font-weight: bold !important;
        margin-bottom: 20px;
      }

      a {
        color: $stroke-variant !important;

        &:hover {
          color: $stroke-variant !important;
        }
      }
    }

    a i {
      display: none;
    }

    a[href*="create_account"] {
      color: $stroke-variant;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @keyframes popUp {
    from { opacity: 0; transform: translate3d(0, 2%, 0); }
    to { opacity: 1; transform: translate3d(0, 0, 0); }
  }
}
