.speedwell-footer {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;

  &__info {
    border-bottom: 5px solid #F2F2F2;
    text-align: center;
    padding: 20px;
  }

  &__menu {
    border-bottom: 1px solid #F2F2F2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    line-height: 25px;
    padding: 40px calc((100vw - 1240px) / 2);
    margin: 0 20px;

    section {
      margin-bottom: 20px;
    }

    h2 {
      font-size: 14px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 40px;
        background: currentColor;
      }
    }

    nav {
      display: flex;
      flex-direction: column;

      a,
      a:hover {
        color: currentColor;
      }
    }
  }

  &__closing {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 25px;
    padding: 20px calc((100vw - 1240px) / 2);
    margin: 0 20px;

    .logo {
      height: 30px;
    }

    nav {
      display: flex;
      margin-left: auto;

      a {
        color: currentColor;
        padding: 0 10px;
        position: relative;
      }

      a + a::before {
        content: '';
        position: absolute;
        left: -1px;
        top: 50%;
        height: 10px;
        width: 2px;
        background: currentColor;
        transform: translateY(-50%);
      }
    }
  }
}