.speedwell-topbar {
  align-items: center;
  background-color: #fff;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 56px;
  z-index: 100;

  @media (max-width: 767px) {
    top: 48px;
  }

  &__menu {
    flex: 1 1 50%;
  }

  &__logo {
    flex: 1 1 200px;
    justify-content: center;
    display: flex;
  }

  &__actions {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
  }

  &__search {
    // position: absolute;
  }
}