// @import "./clay-variables/atlas-variables";
@import "./variables";

@import "../components/add_to_cart/add_to_cart";
@import "../components/gallery/gallery";
@import "../components/info_box/info_box";
@import "../components/price/price";
@import "../components/side_panel/side_panel";
@import "../components/step_tracker/step_tracker";

.commerce-admin-header {
  position: sticky;
  z-index: 989;

  .ie11 & {
    position: static
  }

  .has-control-menu & {
    top: 56px;
  }
}

.row.vertically-divided {
  overflow: hidden;

  & > [class*="col"] {
    &::after {
      content: '';
      position: absolute;
      z-index: 0;
      border-right: 1px solid #e6e7ed;
      top: 0;
      bottom: 0;
      right: -1px;
    }
  }
}

.list-group-no-bordered .list-group-item {
  border-width: 0 0 1px 0;
  margin-bottom: 0;

  &:last-child {
    border-width: 0;
  }
}

.within-commerce-iframe {
  .page-header {
    position: sticky;
    top: 0;
    z-index: 989;
  }

  [type="submit"] {
    display: none;
  }
}

.modal-lg, .modal-xl {
  max-width: 800px;
}

@media (min-width: 576px) {
  .modal {
    .modal-dialog {
      display: block;
    }
  }
}