.portlet-commerce-product-option-categories {
	.product-detail-header {
		background-color: #FFF;
	}

	.breadcrumb {
		margin-bottom: 0;

		& > li {
			a {
				font-size: 0.9rem;
			}
		}
	}
}

.portlet-commerce-product-options {
	.product-detail-header {
		background-color: #FFF;
	}

	.breadcrumb {
		margin-bottom: 0;

		& > li {
			a {
				font-size: 0.9rem;
			}
		}
	}

	.commerce-product-option-editor {
		margin-top: 20px;

		.section-header {
			font-size: 1.2rem;

			.btn-primary {
				float: right;
			}
		}
	}

	.option-rel-button-row {
		.btn {
			margin-right: 5px;
		}
	}
}

.portlet-commerce-product-specification-options {
	.product-detail-header {
		background-color: #FFF;
	}

	.breadcrumb {
		margin-bottom: 0;

		& > li {
			a {
				font-size: 0.9rem;
			}
		}
	}
}