.bumper {
  position: relative;
  width: 100%;
  background-color: #2C2C2C;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &-slider {
    &__slide {
      position: absolute;
      background-position: center;
      background-size: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &[data-state="current"] {
        z-index: 4;
        opacity: 1;
      }

      &[data-state="next"] {
        z-index: 5;
        opacity: 0;

        &.is-sliding-forwards {
          opacity: 1;
          transition: opacity 300ms ease-in-out;
        }
      }

      &[data-state="will-be-next"] {
        z-index: 5;
        opacity: 0;

        &.is-sliding-backwards {
          opacity: 1;
          transition: opacity 300ms ease-in-out;
        }
      }
    }

    &__content {
      width: 100%;
      height: 100%;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      box-sizing: border-box;
      padding: 0 0 8em 6.75em;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(53, 53, 53, 0.4) 7.4%, #353535 100%);
        mix-blend-mode: multiply;
        z-index: 3;
      }

      &.subtitle {
        font-size: 1.8em;
        font-weight: 100;
      }

      &.title {
        font-size: 4em;
        font-weight: 200;
      }

      &.call-to-action {
        margin-top: 1em;
        color: white;
        background: transparent;
        border: 1px solid white;
        padding: 10px 30px;
        font-size: 1em;
      }
    }
  }

  &__overlay {
    table {
      width: 100%;
      padding: 10px 16em;

      tr {
        height: 130px;

        td {
          padding: 0 30px;
          min-width: 10%;
        }
      }
    }
  }

  &__controls {
    display: none;
  }

  .feature {
    vertical-align: middle;

    &__wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 20% 80%;
      align-items: center;
    }

    &__icon {
      margin-top: 1em;
      color: white;
      background: transparent;
      border: 1px solid white;
      padding: 10px 30px;
      font-size: 1em;
    }

    &__text {
      color: white;
      padding-left: 10px;

      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
      }

      h4 {
        margin: 0 0 4px 0;
      }
    }
  }
}
