.categories-carousel--container {
    position: relative;
    width: 85%;
    margin: 0 auto;
    padding: 4em 0;
}

.categories-carousel--container header {
    display: grid;
    grid-template-columns: 1fr 20%;
}

.wrapper {
    width: 100%;
}

.list-page {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.image-card {
    width: 18em;
}

.card {
    height: 20em;
}
