.commerce-account-list {
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 15px;

	&__title {
		font-size: 1.125em;
		height: 40px;
		margin-top: 15px;
		padding: 0 20px;
	}

	&__item {
		color: currentColor;
		cursor: pointer;
		display: block;
		margin-top: 15px;
		padding: 0 20px;
		position: relative;

		&:hover {
			color: currentColor;
			text-decoration: none;
		}

		&:not(:hover) span {
			opacity: 0.8;
		}

		img {
			border-radius: 50%;
			height: 40px;
			margin-right: 10px;
			width: 40px;
		}

		strong {
			color: $color-fg;
		}
	}
}