.commerce-list {
	align-items: center;
	display: grid;
	grid-gap: 5px 20px;
	grid-template-columns: auto auto;
	line-height: 1;
	margin-bottom: 0;

	dt {
		align-self: center;
		color: #B4BBC9;
		font-size: 11px;
		font-weight: 500;
		letter-spacing: 1.1px;
		text-transform: uppercase;
	}

	dd {
		align-self: center;
		margin-bottom: 0;
	}

	& + & {
		margin-top: 10px;
	}
}