.commerce-cta {
	bottom: 0;
	display: flex;
	filter: drop-shadow($shadow);
	justify-content: center;
	left: $frame-size;
	padding: 20px;
	pointer-events: none;
	position: fixed;
	right: 0;
	transition: transform ease 200ms, left ease 500ms;
	z-index: 100;

	@media screen and (hover: none) {
		bottom: $frame-size;
		left: 0;

		.minium-frame.is-scrolling-down.is-scrolled & {
			bottom: 0;
		}
	}

	&:empty {
		display: none;
	}

	&:not(.is-visible) {
		transform: translateY(200%);
	}

	& > * {
		pointer-events: auto;
	}

	body.open & {
		left: calc(320px + #{$frame-size});
	}
}