.commerce-account-selector {
	color: $color-fg;
	display: grid;
	font-size: 16px;
	font-weight: 500;
	grid-gap: 0 20px;
	grid-template:
		"image title" min-content
		"image info" min-content / 40px 201px;

	@media screen and (max-width: $bp-small) {
		grid-gap: 0;
		grid-template-columns: 40px 0;
	}

	&__image {
		border-radius: 50%;
		grid-area: image;
		height: 40px;
		overflow: hidden;
		position: relative;

		img {
			height: auto;
			width: 100%;
		}

		&:empty {
			display: none;
		}
	}

	&__title {
		align-self: end;
		grid-area: title;
		line-height: 1;

		@media screen and (max-width: $bp-small) {
			display: none;
		}
	}

	&__info {
		font-size: 0.75em;
		grid-area: info;
		line-height: 1;
		margin-top: 4px;

		@media screen and (max-width: $bp-small) {
			display: none;
		}

		&:empty {
			display: none;
		}
	}

	&__remove {
		background: #4B84FF;
		border-radius: 50%;
		color: white;
		cursor: pointer;
		font-size: 11px;
		height: 18px;
		line-height: 1.1;
		position: absolute;
		right: -5px;
		top: 5px;
		width: 18px;
		z-index: 100;

		svg {
			height: 22px;
			left: -3px;
			margin: 0 !important;
			position: relative;
			top: -3px;
			width: 22px;
		}

		path {
			fill: white;
		}
	}
}