.commerce-item {
	$item-image-size: 60px;
	$item-image-size-sm: 50px;

	display: flex;
	font-size: 12px;
	max-height: 130px;
	overflow: hidden;
	position: relative;
	transition: max-height .2s ease-in, padding .1s ease-in;

	&--search {
		font-size: 14px;
	
		&__image {
			flex-basis: $item-image-size-sm;
		}
	}

	.commerce-item.is-not-valid & {
		opacity: .3;
	}

	&__image {
		align-self: center;
		border-radius: 4px;
		flex: 0 0 $item-image-size;
		margin: auto 10px auto 0;
		max-height: $item-image-size;
		max-width: 100%;
	}

	&--search &__image {
		max-height: $item-image-size-sm;
	}

	&__content {
		align-self: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__error {
		font-weight: 600;
		grid-column: 1 / 3;
		color: $color-mood-bad
	}

	&__delete {
		align-items: center;
		border: 2px solid currentColor;
		border-radius: 50%;
		color: $color-mood-bad;
		cursor: pointer;
		display: flex;
		height: 16px;
		justify-content: center;
		margin: 8px auto 0;
		padding: 0;
		position: relative;
		width: 16px;

		&:hover {
			color: $color-mood-bad;
		}

		.commerce-cart__item:not(:hover) &:not(:focus) {
			opacity: 0;

			@media (hover: none) {
				opacity: 1;
			}
		}

		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&::after,
		&::before {
			background-color: currentColor;
			content: '';
			display: block;
			height: 8px;
			left: 50%;
			position: absolute;
			top: 50%;
			width: 2px;
		}

		&.is-disabled {
			cursor: wait;
			opacity: .5;
		}
	}

	&__cancel-delete {
		align-items: center;
		background-color: $color-bg-alt;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transform: translateX(100%);
		transition: transform .2s ease-in;
		z-index: 1102;

		.commerce-item.is-deleting & {
			transform: translateX(0%);
		}
	}

	&.is-collapsed {
		border-width: 0;
		max-height: 0;
		padding: 0 10px;
	}

	&.is-not-valid {
		background-color: $color-mood-bad-bg;
	}
}