.commerce-thumb-menu {
	align-items: center;
	background-color: $color-theme;
	border-radius: 50%;
	bottom: $gutter;
	display: flex;
	justify-content: center;
	min-height: 60px;
	position: fixed;
	right: $gutter;
	width: 60px;
	z-index: 1;

	a {
		color: white;
	}
}