.minium-product-header {
	margin: $lg-gutter 0 $gutter;

	&__tagline,
	&__subtitle {
		font-size: 14px;
		font-weight: normal;
		margin: 10px 0;
	}

	&__title {
		font-size: 26px;
		font-weight: normal;
		margin: 10px 0;
	}
}