.commerce-cart-item {
	$item-image-size: 70px;
	$price-size: 70px;

	align-items: center;
	border-bottom: 1px solid rgba(180,187,201,0.2);
	color: $color-fg;
	display: grid;
	font-size: 13px;
	grid-gap: 15px;
	grid-template-areas: "image content actions price delete";
	grid-template-columns: $item-image-size 1fr auto $price-size min-content;
	height: 94px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	transition: height .2s ease-in, padding .1s ease-in;

	&__image {
		align-self: center;
		background-position: center center;
		background-size: cover;
		border-radius: 4px;
		grid-area: image;
		height: 70px;
		margin: auto;
		overflow: hidden;
		width: 70px;
	}

	&__content {
		grid-area: content;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		big {
			font-weight: bold;
		}
	}

	&__name {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__sku {
		display: block;
	}

	&__price {
		grid-area: price;
		text-align: right;


		.price {
			grid-template-columns: unset;

			&-label {
				display: none;
			}

			&-value {
				display: block;
				font-size: 1.1em;
				margin: 0;
			}
		}
	}

	&__actions {
		grid-area: actions;

		.quantity-selector {
			input {
				font-size: 14px;
				max-width: 50px;
			}

			select {
				font-size: 14px;
				max-width: 70px;
			}

			.btn {
				font-size: 20px;
			}
		}
	}

	&__options {
		font-weight: 600;
	}

	&__errors {
		font-weight: 600;
		grid-column: 1/3;
		color: $color-mood-bad
	}

	&__delete-wrapper {
		grid-area: delete;
	}

	&__delete {
		align-items: center;
		background-color: transparent;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		font-size: 28px;
		height: 22px;
		justify-content: center;
		padding: 0;
		position: relative;
		transition: background-color .1s ease-out;
		width: 22px;

		&:hover {
			background-color: #F8F8F8;
			transition: background-color .1s ease-in;
		}

		&.is-disabled {
			cursor: wait;
			opacity: .5;
		}
	}

	&__cancel-delete {
		align-items: center;
		background-color: $color-bg-alt;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transform: translateX(100%);
		transition: transform .2s ease-in;
		z-index: 1102;

		.commerce-cart-item.is-deleting & {
			transform: translateX(0%);
		}
	}

	&.is-collapsed {
		border-width: 0;
		height: 0;
		overflow: hidden;
		padding: 0 10px;
	}

	&.is-not-valid {
		background-color: $color-mood-bad-bg;
	}
}