.minium-user-nav {
	align-items: center;
	background-color: $color-bg-alt;
	border-radius: 25px 8px 8px 25px;
	display: flex;
	margin: 10px;
	padding: 5px;
	position: relative;
	transition:
		border-radius $transition,
		background-color $transition;
	width: calc(100% - 20px);

	@media screen and (hover: none) {
		border-radius: 8px 25px 25px 8px;
		flex-direction: row-reverse;
		position: absolute;
	}

	&:focus,
	&:hover {
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		@media screen and (hover: none) {
			filter: drop-shadow($minium-shadow);
		}
	}

	.minium-sidebar:not(:hover) & {
		background-color: transparent;
	}

	@media screen and (hover: none) {
		right: 0;

		&:not(:focus) {
			background-color: transparent;
			overflow: hidden;
			width: 42px;
		}

		&:focus {
			width: 240px;
		}
	}

	&__avatar {
		padding: 4px;
		position: relative;

		img {
			border-radius: 50%;
			display: block;
			height: 40px;
			width: 40px;
		}

		&.has-notification::before {
			background-color: $color-theme;
			border-radius: 50%;
			content: '';
			height: 6px;
			position: absolute;
			right: 2px;
			top: 2px;
			width: 6px;
		}
	}

	&__name {
		color: $color-fg;
		font-size: 14px;
		font-weight: bold;
		padding: 5px 10px;
		position: relative;
		transition:
			opacity $transition,
			transform $transition;
		white-space: nowrap;

		.minium-sidebar:not(:hover) & {
			opacity: 0;
			transform: translateX(20px);
		}

		// @media screen and (hover: none) {
		// 	.minium-user-nav:not(:focus) & {
		// 		opacity: 0;
		// 		transform: translateX(20px);
		// 	}
		// }
	}

	&__menu {
		background-color: inherit;
		border-radius: 8px 8px 0 0;
		bottom: 100%;
		left: 0;
		position: absolute;
		transition:
			opacity $transition,
			transform $transition;
		width: 100%;

		.minium-user-nav:not(:hover):not(:focus) & {
			opacity: 0;
			pointer-events: none;

			@media screen and (hover: hover) {
				transform: translateY(20px);
			}
		}
	}
}