.price {
	&__value {
		font-weight: 600;
		margin-right: 10px;

		&--original-price {
			color: $color-fg-alt;
			font-weight: normal;
			text-decoration: line-through;
			margin-left: 10px;
			margin-right: 0;
		}

		&--final-price {
			color: $color-mood-bad
		}

		&--big {
			font-size: 18px;
		}

		&--discount {
			color: $color-mood-bad
		}

		&--promo-price {
			color: $color-mood-bad
		}

		&--inactive {
			color: $color-fg-alt;
			font-weight: normal;
			text-decoration: line-through;
		}

	}

	&__discount-label {
		font-weight: normal;
		font-size: 14px;
		color: $color-mood-bad-bg;
		background-color: $color-mood-good;
		padding: 6px 12px;
		border-radius: 14px;
		vertical-align: middle;
		display: inline-block;
		margin-left: 20px;
		margin-top: -4px;
	}
}