.portlet-commerce-organization-admin {
	.user-invitation-header {
		padding: 20px 0;

		.btn {
			display: inline-block;
		}

		.form-group {
			display: inline-block;
			width: 90%;
		}
	}

	.label-user-mail-address {
		min-width: 200px;
		padding: 15px;

		.modify-link {
			float: right;
			padding-left: 10px;
		}
	}
}