.portlet-hello-world .portlet-content {
	background: url(../images/portlet_hello_world/welcome_bg.jpg) bottom left;
	background-size: cover;
	min-height: 390px;
	padding-top: 30px;

	@include sm {
		padding-left: 50px;
	}

	.portlet-header {
		margin-bottom: 0;
	}

	.portlet-title-text {
		color: $dark-color;
		font-size: 220%;
		text-transform: none;
	}

	.portlet-body {
		padding-right: 30%;

		@include sm {
			padding-right: 60%;
		}
	}
}