.portlet-hello-world .portlet-content {
	background: url(../images/portlet_hello_world/welcome_bg.jpg) 50% 50%;
	background-size: cover;
	min-height: 390px;
	padding-top: 40px;
	text-align: center;

	.portlet-title-text {
		color: $bright-color;
		font-size: 300%;
	}

	.portlet-body {
		padding: 0 20%;
	}
}