@mixin base-title {
	font-weight: 500;
	letter-spacing: 1.2px;
	line-height: 1;
	text-transform: uppercase;
}

@mixin card-title {
	@include base-title;

	background-color: $color-bg;
	font-size: 12px;
}

@mixin minium-typo-title {
	@include base-title;

	color: $color-fg;
	font-size: 14px;
	margin: $lg-gutter 0;
}

@mixin panel-title {
	@include card-title;

	border-radius: 8px;
	margin-bottom: 5px;
	padding: 12px 30px;
}

@mixin typo-text {
	font-size: 14px;
	line-height: 1.6;
}

@mixin panel-body {
	@include typo-text;

	background-color: $color-bg;
	border-radius: 8px;
	padding: 10px 25px;
}