$color-fg: #5C5E5E;
$color-fg-alt: #7F848D;
$color-bg: #FFF;
$color-bg-medium: #FCFCFC;
$color-bg-alt: #F7F7F8;
$color-bg-dark: #34373E;
$color-border: #ECEEF1;
$color-shadow: rgba(92, 94, 94, 0.14);
$color-disabled: #C9DAFF;

$color-theme: #4C84FF;
$color-theme-dark: #3260C5;
$color-theme-light: #C9DAFF;
$color-theme-transparent: rgba($color-theme, 0.067);

$color-modal-mask: rgba(52,55,62,0.6);

$color-mood-good: #4BC286;
$color-mood-neutral: #FEE4B8;
$color-mood-bad: #EC676A;
$color-mood-bad-bg: #FEF7F7;

$placeholder-colors: (
	#9BE2BD,
	#B3EFF5,
	#FEE4B8,
	#FFB78C,
	#FF83A3,
	#F5B3EF,
	#B48FF7,
	#639DFF
);

$shadow: 0 10px 20px $color-shadow;
$shadow-focus: 0 3px 20px 0 rgba($color-theme, .5);

$xs-gutter: 5px;
$sm-gutter: 10px;
$gutter: 20px;
$lg-gutter: 40px;

$liferay-topbar-size: 56px;
$liferay-topbar-size-small: 48px;
$frame-size: 70px;
$frame-size-small: 56px;
$sidebar-width: 300px;
$liferay-sidebars-width: 320px;
$content-max-width: 1440px;

$transition: ease 200ms;
$micro-transition: ease 100ms;

$standard-radius: 8px;

//breakpoints

$bp-xxsmall: 376px;
$bp-xsmall: 577px;
$bp-small: 767px;