#minium {
	.panel {
		border: 0;
		border-radius: 8px;

		.list-unstyled {
			margin-bottom: 0;
		}
	}

	.panel-group .panel:last-child {
		margin-bottom: 0;
	}

	.panel-group + .panel-group {
		margin-top: $minium-big-gutter;
	}

	.panel-heading .panel-title {
		@include minium-panel-title;

		.collapse-icon {
			padding: 0;
		}
	}

	.panel-body {
		@include minium-panel-body;
	}

	.facet-checkbox-label {
		color: #7F848D;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.6;
		padding-left: 25px;
		position: relative;

		input[type="checkbox"] {
			left: 0;
			position: absolute;
			top: 2px;
		}
	}
}