osgi.module.api.package=com.liferay.commerce.openapi.internal.application
osgi.module.application.name=CommerceOpenApi
osgi.module.application.base=/commerce-openapi
osgi.module.application.class.name=CommerceOpenApiApplication
osgi.module.application.security.basic=allowed
osgi.module.author=Igor Beslic
osgi.module.bundle.name=Liferay Commerce OpenApi
osgi.module.bundle.symbolic.name=com.liferay.commerce.openapi
osgi.module.bundle.version=1.0.0
osgi.module.generator.overwrite.bnd=false
osgi.module.generator.overwrite.gradle=false
osgi.module.generator.overwrite.implementation=false
osgi.module.jaxrs.json.package=com.liferay.commerce.openapi.internal.jaxrs.json
osgi.module.model.package=com.liferay.commerce.openapi.model
osgi.module.name=commerce-openapi
osgi.module.resource.interface.package=com.liferay.commerce.openapi.resource
osgi.module.resource.package=com.liferay.commerce.openapi.internal.resource
osgi.module.root.path=/Volumes/ext/liferay/commerce/com-liferay-commerce