osgi.module.api.package=com.liferay.commerce.openapi.admin.internal.application
osgi.module.application.name=CommerceOpenApiAdmin
osgi.module.application.base=/commerce-admin
osgi.module.application.class.name=CommerceOpenApiAdminApplication
osgi.module.application.security.basic.auth.allowed=true
osgi.module.application.security.oauth2.auth.allowed=true
osgi.module.application.security.guests.allowed=true
osgi.module.author=Igor Beslic
osgi.module.bundle.name=Liferay Commerce OpenApi Admin
osgi.module.bundle.symbolic.name=com.liferay.commerce.openapi.admin
osgi.module.bundle.version=1.0.0
osgi.module.generator.overwrite.bnd=false
osgi.module.generator.overwrite.gradle=false
osgi.module.generator.overwrite.implementation=false
osgi.module.generator.embed.message.body.converters=false
osgi.module.jaxrs.json.package=com.liferay.commerce.openapi.admin.internal.jaxrs.json
osgi.module.model.package=com.liferay.commerce.openapi.admin.model
osgi.module.name=commerce-openapi-admin
osgi.module.resource.interface.package=com.liferay.commerce.openapi.admin.resource
osgi.module.resource.package=com.liferay.commerce.openapi.admin.internal.resource
osgi.module.root.path=./../