openapi.authorization.key=KEY-c
openapi.host.name=
openapi.host.port=8080
openapi.protocol=https
openapi.url=./rest-test-openapi-c.json

osgi.module.api.package=
osgi.module.application.name=
osgi.module.application.base=
osgi.module.application.class.name=
osgi.module.application.security.basic.auth.allowed=
osgi.module.application.security.oauth2.auth.allowed=
osgi.module.application.security.guests.allowed=
osgi.module.author=
osgi.module.bundle.name=
osgi.module.bundle.symbolic.name=
osgi.module.bundle.version=
osgi.module.generator.overwrite.bnd=
osgi.module.generator.overwrite.gradle=
osgi.module.generator.overwrite.implementation=
osgi.module.generator.embed.message.body.converters=
osgi.module.jaxrs.json.package=
osgi.module.model.package=
osgi.module.name=c
osgi.module.resource.interface.package=
osgi.module.resource.package=
osgi.module.root.path=