@import "AddToCartButton/animations";
@import "AddToCartButton/mixinsAndVariables";

.add-to-cart-button {
	&--compact {
		::selection {
			background-color: $color-theme-light;
		}

		background-color: $color-theme;
		border: 0 !important;
		min-width: 140px;
		position: relative;
		transition: min-width .1s ease,
		border .1s ease;

		&:hover {
			background-color: $color-theme-dark;
			cursor: pointer !important;
			min-width: 160px;
			transition: $baseTransitions;
		}

		&::before {
			background: rgba(255, 255, 255, 0);
			border: 3px solid transparent;
			border-radius: 6px;
			box-sizing: border-box;
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			top: 0;
			transition: all .2s .5s ease;
			width: 100%;
		}

		&--edit {
			background-color: inherit !important;
			box-shadow: none !important;
			color: black;
			cursor: default !important;
			min-width: 100px;

			&:hover {
				min-width: 100px !important;
				transition: none !important;
			}

			&::before {
				@include transformButton(
					50%, 50%,
					-22px, -35px,
					70px, 44px,
					3px solid $inputOutline,
					rgba(255, 255, 255, 1)
				);
				animation: toInput .3s ease-in 1 forwards;
				border-radius: 8px;
				content: '';
				display: block;
				position: absolute;
			}

			&.with-select {
				&::before {
					@include transformButton(
						50%, 50%,
						-22px, -35px,
						70px, 44px,
						3px solid $inputOutline,
						rgba(255, 255, 255, 1)
					);
					animation: toSelect .3s ease-in 1 forwards;
					border-radius: 8px;
					content: '';
					display: block;
					position: absolute;
				}
			}
		}

		&__fwd {
			align-items: center;
			display: flex;
			justify-content: left;
			position: absolute;

			animation: confirmButton 500ms ease 1 forwards;
			animation-delay: 200ms;

			color: $color-theme;

			cursor: pointer;
			font-size: 26px !important;
			height: 40px;
			opacity: 0;
			right: -40px;
			width: 30px;

			&:hover .arrow__line {
				transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
				transform-origin: left center;
				transition: transform .2s ease-in;
			}

			&:hover .arrow__tip {
				transform: translate3d(-16px, 0px, 0);
				transition: transform .2s ease-in;
			}

			& .arrow {
				align-items: center;
				display: flex;

				&__line {
					transform: scaleX(.70);
					transform-origin: left center;
				}

				&__tip {
					transform: translateX(-23px);
				}
			}
		}

		&.commerce-button--good {
			background-color: $color-mood-good !important;
			padding: 0;
			transition: all .1s ease;
			transition-delay: 0ms !important;

			&:hover {
				.added-quantity {
					display: none;
					height: inherit;
					width: inherit;
				}
			}

			&:hover {
				background-color: $color-theme !important;
			}

			&:hover::before {
				align-items: center;
				content: attr(data-add-more-label);
				display: flex;
				justify-content: center;
			}

			&.quantity-changed {
				transition-delay: 900ms !important;
			}

			&.quantity-changed::before {
				animation: toConfirm 1000ms ease 1;
			}
		}

		.commerce-quantity-selector {
			&__input {
				@include formElement;
				height: 44px;
				width: 65px;
			}

			&__select {
				@include formElement;
				height: 44px;
				width: 65px;
			}

			&__btn {
				font-size: 2em;
				height: 40px;
				width: 40px;

				&:nth-child(1) {
					transform: translate3d(0, 0, 0);
					transform-origin: right center;
					@include quantityButtonsAnimation('left');
				}

				&:nth-child(3) {
					transform: translate3d(0, 0, 0);
					transform-origin: left center;
					@include quantityButtonsAnimation('right');
				}
			}
		}
	}

	&--inline {
		display: flex;

		.commerce-button {
			font-size: 12px;
			height: 60px;
			min-width: 160px;
			position: relative;

			.added-quantity {
				display: none;
			}

			&.commerce-button--good {
				&:hover::before {
					align-items: center;
					content: attr(data-add-more-label);
					display: flex;
					justify-content: center;
					position: absolute;
					background-color: $color-theme;
					width: 100%;
					height: 100%;
					border-radius: 8px;
					opacity: 0;
					animation: addMoreHover .1s ease-out 1 forwards;
				}

				.add-to-cart-button__ok {
					opacity: 1;

					.added-quantity {
						width: inherit;
						height: 100%;
						color: $color-fg;
						display: flex;
						align-items: center;
						justify-content: right;
						background-color: transparent;
						position: absolute;
						top: 0;
						transform: translate3d(250%, 0, 0);
						opacity: 0;
						animation: addMoreHover .1s ease-out 1 forwards;
						animation-delay: 700ms;
					}
				}
			}
		}

		.commerce-quantity-selector {
			font-size: 12px;
			margin-right: 10px;

			&__input {
				font-size: 18px;
				height: 60px;
				width: 60px;
				border-radius: 8px;
			}

			&__select {
				border-radius: 8px;
				font-size: 1.3em;
				height: 60px;
				margin-right: 10px;
				width: 80px;
			}

			&__btn {
				font-size: 2em;
			}

			&--disabled {
				opacity: .5;
			}
		}
	}
}
