@import "AddToCartButton/animations";
@import "AddToCartButton/mixinsAndVariables";

::selection
::-webkit-selection

.add-to-cart-button {
	&--compact {
		::selection {
			background-color: $color-theme-light;
		}

		background-color: $color-theme !important;
		border: 0 !important;
		min-width: 140px;
		position: relative;
		transition: min-width .1s ease,
		border .1s ease;

		&:hover {
			background-color: $color-theme-dark;
			cursor: pointer !important;
			min-width: 160px;
			transition: $baseTransitions;
		}

		&::before {
			background: rgba(255, 255, 255, 0);
			border: 3px solid transparent;
			border-radius: 6px;
			box-sizing: border-box;
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			top: 0;
			transition: all .2s .5s ease;
			width: 100%;
		}

		&--edit {
			background-color: inherit !important;
			box-shadow: none !important;
			color: black;
			cursor: default !important;
			min-width: 100px;

			&::before {
				@include transformButton(
					50%, 50%,
					-22px, -35px,
					70px, 44px,
					3px solid $inputOutline,
					rgba(255, 255, 255, 1)
				);
				animation: toInput .3s ease-in 1 forwards;
				border-radius: 8px;
				content: '';
				display: block;
				position: absolute;
			}

			&.with-select::before {
				@include transformButton(
												50%, 50%,
												-22px, -35px,
												70px, 44px,
												3px solid $inputOutline,
												rgba(255, 255, 255, 1)
				);
				animation: toSelect .3s ease-in 1 forwards;
				border-radius: 8px;
				content: '';
				display: block;
				position: absolute;
			}
		}

		&__fwd {
			align-items: center;
			animation: confirmButton 500ms ease 1 forwards;
			animation-delay: 200ms;
			color: $color-theme;
			cursor: pointer;
			display: flex;
			font-size: 26px !important;
			height: 40px;
			justify-content: center;
			line-height: 20px;
			opacity: 0;
			position: absolute;
			right: -35px;
			width: 30px;

			&:hover .arrow__line {
				transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
				transform-origin: left center;
				transition: transform .2s ease-in;
			}

			&:hover .arrow__tip {
				transform: translate3d(-16px, 0px, 0);
				transition: transform .2s ease-in;
			}

			& .arrow {
				&__line {
					transform: scaleX(.70);
					transform-origin: left center;
				}

				&__tip {
					transform: translateX(-23px);
				}
			}
		}

		&.commerce-button--good {
			background-color: $color-mood-good !important;
			padding: 0;
			transition: all .1s ease;
			transition-delay: 0ms;

			&:hover {
				.added-quantity {
					display: none;
					height: inherit;
					width: inherit;
				}
			}

			&:hover::before {
				align-items: center;
				content: 'edit quantity';
				display: flex;
				justify-content: center;
			}

			&.quantity-changed {
				transition-delay: 900ms;
			}

			&.quantity-changed::before {
				animation: toConfirm 1000ms ease 1;
			}
		}

		.commerce-quantity-selector {
			&__input {
				@include formElement;
				height: 44px;
				width: 65px;
			}

			&__select {
				@include formElement;
				height: 44px;
				width: 65px;
			}

			&__btn {
				font-size: 2em;
				height: 40px;
				width: 40px;

				&:nth-child(1) {
					transform: translate3d(-10px, 0, 0);
					transform-origin: right center;
					@include quantityButtonsAnimation('left');
				}

				&:nth-child(3) {
					transform: translate3d(10px, 0, 0);
					transform-origin: left center;
					@include quantityButtonsAnimation('right');
				}
			}
		}
	}

	&--inline {
		display: flex;

		.commerce-button {
			font-size: 12px;
			height: 60px;
			min-width: 160px;

			&.commerce-button--good {
				&:hover {
					.added-quantity {
						display: none;
						height: inherit;
						width: inherit;
					}
				}

				&:hover::before {
					align-items: center;
					content: 'add more';
					display: flex;
					justify-content: center;
				}
			}
		}

		.commerce-quantity-selector {
			margin-right: 10px;

			&__input {
				font-size: 1.3em;
				height: 60px;
				width: 60px;
			}

			&__select {
				border-radius: 8px;
				font-size: 1.3em;
				height: 60px;
				margin-right: 10px;
				width: 80px;
			}

			&__btn {
				font-size: 2em;
			}
		}
	}
}