.commerce-modal {

	&--confirmation {
		.modal-dialog {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -75%);
		}

		&.show .modal-dialog {
			 transform: translate(-50%, -50%);
		}
	}

	&__header {
		display: flex;
		flex-shrink: 0;
		margin-bottom: 30px;
	}

	&__close {
		display: flex;
		margin-left: auto;
	}

	&__title {
		color: $color-fg;
		flex-grow: 1;
		font-size: 28px;
		font-weight: 100;
		margin-bottom: 0;
	}

	&__content {
		flex-grow: 1;
	}

	&__actions {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
}