.commerce-cart-item {
	border-bottom: 1px solid rgba(180,187,201,0.2);
	padding: 10px;
	position: relative;
	$item-image-size: 80px;
	$item-image-size-sm: 50px;
	display: grid;
	font-size: 13px;
	grid-gap: 10px;

	grid-template-areas: "image content actions"
						 "image price price";

	grid-template-columns: $item-image-size 1fr 100px;
	max-height: 140px;
	overflow: hidden;
	transition: max-height .2s ease-in, padding .1s ease-in;

	&__image {
		align-self: center;
		background-position: 50%;
		background-size: cover;
		border-radius: 4px;
		grid-area: image;
		height: 80px;
		margin: auto;
		width: 80px;
	}

	&__content {
		grid-area: content;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__name,
	&__sku {
		display: block;
	}

	&__price {
		grid-area: price;
	}

	&__actions {
		grid-area: actions;
	}

	&__options {
		font-weight: 600;
	}

	&__errors {
		font-weight: 600;
		grid-column: 1/3;
		color: $color-mood-bad
	}

	&__delete {
		align-items: center;
		border-radius: 50%;
		color: $color-mood-bad;
		cursor: pointer;
		display: flex;
		font-size: 20px;
		height: 16px;
		justify-content: center;
		margin: 10px auto 0;
		padding: 0;
		position: relative;

		&:hover {
			color: $color-mood-bad;
		}

		.commerce-cart-item:not(:hover) &:not(:focus) {
			opacity: 0;

			@media (hover: none) {
				opacity: 1;
			}
		}

		&.is-disabled {
			cursor: wait;
			opacity: .5;
		}
	}

	&__cancel-delete {
		align-items: center;
		background-color: $color-bg-alt;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transform: translateX(100%);
		transition: transform .2s ease-in;
		z-index: 1102;

		.commerce-cart-item.is-deleting & {
			transform: translateX(0%);
		}
	}

	&.is-collapsed {
		border-width: 0;
		max-height: 0;
		padding: 0 10px;
	}

	&.is-not-valid {
		background-color: $color-mood-bad-bg;
	}
}