.commerce-datalist {
	width: 200px;
	display: inline-block;
	line-height: 1.6;
	position: relative;
	color: $color-fg;

	&__input-wrapper {
		transition: background-color .1s ease-in, border-radius .2s ease-in;
		border: 2px solid $color-border;
		border-radius: 8px;
		overflow: hidden;
		padding: 6px 10px;
		display: grid;
		grid-template-columns: auto 24px;
		grid-gap: 10px;
		z-index: 2;
		background-color: rgba(255, 255, 255, 0);

		&:focus-within {
			border-color: $color-disabled;
			background-color: rgba(255, 255, 255, 1);
		}

		&.is-expanding, 
		&.is-expanded {
			background-color: rgba(255, 255, 255, 1);
			border-radius: 8px 8px 0 0;

			.commerce-datalist {
				&__icon {
					&--action {
						transform: translate(0, 50%) scale(1);
						opacity: 1;
					}
					
					&--default {
						transform: translate(0, -50%) scale(.5);
						opacity: 0;
					}
				}
			}
		}
	}

	&__icon-wrapper {
		position: relative;
		font-size: 20px;
		line-height: 0;
	}

	&__icon {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		transition: transform .2s ease-in, opacity .2s ease-in;
		margin-top: -50%;
		align-items: center;
		display: flex;
		
		&--action {
			transform: translate(0, 130%) scale(.5);
			opacity: 0;
			color: $color-fg-alt;
			padding: 0;
		}
		
		&--default {
			transform: translate(0, 50%) scale(1);
			opacity: 1;
		}
	}

	&__mask {
		overflow: hidden;
		position: relative;
		height: 26px;
	}

	&__query-wrapper {
		position: absolute;
		display: flex;
		align-items: center;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		height: calc(100% + 24px);
		top: 0;
		left: 0;
		right: 0;
		padding-bottom: 24px;
		
		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__query-input {
		border-width: 0;
		display: inline-block;
		margin: 0;
		min-width: calc(100% - 50px);
		flex-grow: 1;
		background: transparent;

		&:focus {
			outline: none;
		}
	}
	
	&__values {
		display: flex;
		flex-shrink: 0;
		align-items: center;
	}
	
	&__value {
		background-color: $color-disabled;
		border-radius: 20px;
		white-space: nowrap;
		padding: 2px 7px;
		margin-right: 5px;
		animation-fill-mode: forwards;
		animation: zoomInFromRight .1s ease-out;
	}

	&__delete-value {
		padding: 0;
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		line-height: 0;
	}

	&__dropdown {
		position: absolute;
		right: 0;
		left: 0;
		top: 100%;
		background: white;
		border-width: 0 2px 2px 2px;
		border-style: solid;
		border-color: $color-border;
		border-radius: 0 0 8px 8px;
		transform: translateY(-40px);
		transform-origin: 50% 0%;
		transition: all .1s ease-in;
		z-index: 1;
		box-shadow: $minium-shadow;
		overflow: hidden;
		display: none;
		transition: opacity .2s ease-in, transform .2s ease-in;
		opacity: 0;
		transform: translateY(-40px);

		&.is-expanding {
			display: block;
			animation: expand-dropdown .2s;
			animation-fill-mode: forwards;
		}
		
		&.is-collapsing {
			display: block;
			animation: collapse-dropdown .2s;
			animation-fill-mode: forwards;
		}

		&.is-expanded {
			display: block;
			transform: translateY(0);
			opacity: 1;
		}
	}

	&__data {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__option {
		display: block;
		font-weight: normal;
		cursor: pointer;
		padding: 7px 14px;
		margin: 0;

		.is-hover,
		&:hover {
			background-color: $color-bg-alt;
		}

		&--active {
			font-weight: 600
		}

		&--multiselect {
			padding: 0;

			&:last-of-type,
			&:first-of-type { 
				padding: 0;
			}
		}

		&--empty {
			cursor: inherit;
		}

		[type="checkbox"] {
			margin-right: 15px;
		}
	}

	&[class*="-icon"]{
		width: 24px;
		height: 24px;
	} 
}

@keyframes expand-dropdown {
	0%   {
		opacity: 0;
		transform: translateY(-40px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes collapse-dropdown {
	0%   {
		opacity: 1;
		transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(-40px);
	}
}