.commerce-cart-item {
	$item-image-size: 70px;
	$item-image-size-sm: 50px;

	border-bottom: 1px solid rgba(180,187,201,0.2);
	padding: 10px;
	position: relative;
	display: grid;
	font-size: 13px;
	grid-gap: 15px;
	align-items: center;
	color: $color-fg;

	grid-template-areas: "image content actions price delete";

	grid-template-columns: $item-image-size 180px $item-image-size 75px;
	max-height: 140px;
	overflow: hidden;
	transition: max-height .2s ease-in, padding .1s ease-in;

	&__image {
		align-self: center;
		background-position: center center;
		background-size: cover;
		border-radius: 4px;
		grid-area: image;
		height: 70px;
		margin: auto;
		width: 70px;
		overflow: hidden;
	}

	&__content {
		grid-area: content;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		big {
			font-weight: bold;
		}
	}

	&__name {
		display: block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&__sku {
		display: block;
	}

	&__price {
		grid-area: price;
        text-align: right;

		.price__value {
			display: block;
			margin: 0;
			font-size: 1.1em;
		}
	}

	&__actions {
		grid-area: actions;
	}

	&__options {
		font-weight: 600;
	}

	&__errors {
		font-weight: 600;
		grid-column: 1/3;
		color: $color-mood-bad
	}

	&__delete-wrapper {
		grid-area: delete;
	}

	&__delete {
		align-items: center;
		cursor: pointer;
		display: flex;
		font-size: 28px;
		height: 22px;
		width: 22px;
		justify-content: center;
		padding: 0;
		position: relative;
		border-radius: 50%;
		background-color: transparent;
		transition: background-color .1s ease-out;

		&:hover {
			background-color: #F8F8F8;
			transition: background-color .1s ease-in;
		}

		&.is-disabled {
			cursor: wait;
			opacity: .5;
		}
	}

	&__cancel-delete {
		align-items: center;
		background-color: $color-bg-alt;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transform: translateX(100%);
		transition: transform .2s ease-in;
		z-index: 1102;

		.commerce-cart-item.is-deleting & {
			transform: translateX(0%);
		}
	}

	&.is-collapsed {
		border-width: 0;
		max-height: 0;
		padding: 0 10px;
	}

	&.is-not-valid {
		background-color: $color-mood-bad-bg;
	}
}