.details-header {
	&__section {
		background: white;
		border-radius: 8px;
		margin-bottom: 5px;
		padding: 30px;

		&:last-child {
			margin-bottom: 45px;
		}
	}

	&__primary {
		display: flex;
		justify-content: space-between;
	}

	&__main-data {
		display: grid;
		grid-auto-columns: auto 1fr;
		grid-gap: 0 20px;
		grid-template-areas: "avatar name" "avatar email";
		margin-right: 20px;
	}

	&__info-wrapper {
		align-items: baseline;
		align-self: center;
		display: flex;
		justify-items: center;
		margin-right: 20px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__action {
		align-items: center;
		display: flex;
		justify-items: center;
	}

	&__avatar {
		border-radius: 50%;
		grid-area: avatar;
		height: 120px;
		overflow: hidden;
		width: 120px;

		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	&__name {
		align-self: end;
		color: $color-fg;
		font-size: 22px;
		grid-area: name;
	}

	&__email {
		align-self: start;
		color: $color-fg;
		font-size: 14px;
		grid-area: email;
	}

	&__nav {
		height: 60px;
		justify-content: center;
		padding: 0 30px;
	}

	&__label {
		color: $color-fg-alt;
		font-size: 11px;
		letter-spacing: 1.1px;
		line-height: 21px;
		margin-right: 10px;
		text-transform: uppercase;
		vertical-align: baseline;
	}

	&__value {
		color: $color-fg;
		font-size: 14px;
		line-height: 21px;
		vertical-align: baseline;
	}

	&__secondary {
		display: flex;
		flex-wrap: wrap;
	}

	&__input {
		flex-grow: 1;
	}
}