.header-panel {
	font-size: 12px;

	.panel-body {
		line-height: 24px;
	}

	&__main-title {
		font-size: 18px;
	}

	&__main-id {
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			left: -12px;
			top: 0;
			bottom: 0;
			width: 10px;
			border-left: 1px solid $color-border;
		}
	}

	&__secondary-id {
		font-weight: bold;
	}

	&__detail {
		color: $color-fg-alt;
	}
	
	&__label {
		color: $color-fg-alt;
	}

	&__actions {
		display: flex;
		align-items: center;
	}

	&__assignee {
		display: flex;
		align-items: center;
		height: 100%;

		.form-inline{
			display: inline;

			.control-label {
				margin-top: 0;
				width: auto;
			}

			.form-control {
				display: inline-block;
				min-width: auto;
			}
		}
	}
}