.minium-sidebar {
	background-color: $color-bg;
	box-shadow: 0 0 0 $color-shadow;
	color: $color-fg-alt;
	display: flex;
	justify-content: space-between;

	@media screen and (hover: hover) {
		flex-direction: column;
		overflow: hidden;
		transition:
			box-shadow $transition,
			width $transition;
		width: $frame-size;

		&:hover {
			box-shadow: 20px 0 40px $color-shadow;
			width: $sidebar-width;
		}
	}

	@media screen and (hover: none) {
		flex-direction: row;
		height: $frame-size;
	}

	@media screen and (hover: none) and (max-width: 767px) {
		height: $frame-size-small;
	}

	&__start {
		flex: 1 0 $frame-size;
	}

	&__middle {
		overflow-x: hidden;
		overflow-y: auto;

		@media screen and (hover: hover) {
			padding: 40px 0;
		}
	}

	&__end {
		display: flex;
		flex: 1 0 $frame-size;

		@media screen and (hover: hover) {
			align-items: flex-end;
		}

		@media screen and (hover: none) {
			flex-direction: row-reverse;
			position: relative;
		}
	}
}