.minium-product-tiles {
	display: grid;
	grid-gap: $minium-gutter;
	// grid-template-columns: repeat(3, minmax(250px, 1fr));
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	margin-bottom: $minium-gutter;

	@media (max-width: 1024px) {
		// grid-template-columns: repeat(2, minmax(210px, 1fr));
		grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
	}

	@media all and (-ms-high-contrast:none) {
		display: flex;
		flex-wrap: wrap;

		&__item {
			flex: 1 1 250px;
			margin: 0 20px 20px 0;
		}
	}
}