.minium-logo {
	align-items: center;
	display: flex;
	height: $frame-size;
	overflow: hidden;
	padding-left: 22px;

	@media screen and (hover: none) {
		display: none;
	}

	svg {
		min-width: 95px;
	}

	&__type {
		transition:
			opacity $transition,
			transform $transition;

		.minium-sidebar:not(:hover):not(:focus) & {
			opacity: 0;
			transform: translateX(20px);
		}
	}
}