.minium-topbar {
	background-color: $color-bg;
	color: $color-fg-alt;
	display: grid;
	grid-template-columns: 1fr minmax(min-content, max-content) minmax(min-content, max-content);
	justify-content: space-between;
	position: relative;

	&__start,
	&__end {
		display: flex;
	}

	&__end {
		justify-content: flex-end;
	}

	&__search {
		background-color: $color-bg-alt;
		grid-column: span 3;
		max-height: $frame-size;
		overflow: hidden;
		transition: max-height $transition;

		.minium-frame:not(.has-search) & {
			max-height: 0;
		}
	}
}