.price {
	&__value {
		font-weight: 600;
		margin-right: 10px;
		font-weight: bold;
		
		&--big {
			font-size: 18px;
		}

		&--discount {
			color: $color-mood-bad
		}

		&--promo-price {
			color: $color-mood-bad
		}

		&--inactive {
			text-decoration: line-through;
			font-weight: normal;
			color: $color-fg-alt;
		}
	}
}