.portlet-commerce-admin {
	.product-detail-header {
		background-color: #FFF;
	}

	.btn-update-exchange-rates {
		padding: 4px;
	}

	.commerce-admin-icon-check .lexicon-icon-check {
		fill: #75BD4A;
	}

	.commerce-admin-icon-times .lexicon-icon-times {
		fill: #F00;
	}
}