.bumper {
  width: 100%;
  height: calc(100vw * 9 / 21);

  .container {
    display: flex;
    @media screen and (min-width: 1600px) {
      max-width: 1440px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: linear-gradient(180deg, rgba(53, 53, 53, 0.2) 0%, $stroke-variant 100%);
    mix-blend-mode: multiply;
  }

  .bg-slider {
    &__slide {
      width: 100%;

      &[data-state="next"] {
        &.is-sliding-forwards {
          div {
            transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1),
                        opacity 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
          }
        }
      }
    }
  }

  .product-hint {
    position: relative;
    width: 40% !important;
    display: block;
    background-color: transparent;
    margin-top: -8%;
    padding: 0;

    @media only screen and (max-width: 767px) {
      width: 100% !important;
    }

    .hint-text {
      color: $stroke-alt;

      &__name-slider {
        height: 180px;
        width: 100%;
        max-height: 180px;
        white-space: pre-wrap;

        @media screen and (max-width:767px) {
          height: 130px;
          max-height: 130px;
          margin-bottom: .5em;
        }

        span {
          background-color: transparent;
          font-size: 3em;
          line-height: 1.5em;

          @media screen and (max-width:767px) {
            font-size: 1.8em;
          }
        }
      }

      &__call-to-action {
        border: 1px solid $color-bg;
        color: $color-bg;

        &:hover {
          color: $stroke;

          &::before {
            background-color: $color-bg;
          }
        }
      }
    }

    &__controls {
      &.self-sliding {
        display: none;
      }
    }

    @media screen and (max-width:767px) {
      max-width: 100%;
    }
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    z-index: 10;
    font-size: 12px;
    box-sizing: border-box;
    padding: 35px 0;
    overflow: hidden;

    @media screen and (max-width: 767px) {
      overflow-x: auto;
      justify-content: unset;
      scroll-snap-type: x mandatory;
      -webkit-scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
    }

    h3, p {
      margin: 0;
    }

    h3 {
      font-size: 16px;
      line-height: 1.8em;
    }

    p {
      font-size: 11px;
    }

    .feature {
      position: relative;
      margin: 0 15px;
      overflow: hidden;
      box-sizing: border-box;
      align-items: center;
      max-height: 60px;
      width: 100%;

      @media only screen and (min-width: 768px) {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        height: 100%;
      }

      @media screen and (max-width: 767px) {
        display: inline-grid;
        grid-template-columns: 60px 1fr;
        min-width: 100%;
        max-width: 100%;
        scroll-snap-align: center;
        -webkit-scroll-snap-align: center;
        padding: 0 1em;
      }

      &__icon {
        overflow: hidden;

        @media only screen and (min-width: 768px) {
          width: 35%;
          padding: 14px;
          text-align: end;
        }

        img {
          width: 100%;
          max-width: 60px;
          height: auto;

          @media only screen and (max-width: 767px) {
            width: 70%;
          }
        }
      }

      &__text {
        font-size: 12px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    height: calc(100vh - #{$liferay-topbar-size-small})
  }
}
