.info-box {
  .action {
    line-height: 1;
    margin-right: -4px;
    margin-top: -4px;
    padding: 4px;
  }

  .header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }
}