.bumper--container {
    position: relative;
    width: 100%;
    background-color: #2C2C2C;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.bumper--text {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .5);
    padding: 20.3em 8em 28.5em 8em; /* TODO remove and set through parent with 100% width/height */
    color: white;
    width: 100%;
}

.bumper--text span {
    display: block;
}

.bumper--text .subtitle {
    font-size: 1.8em;
}

.bumper--text .title {
    font-size: 3.8em;
}

.bumper--text .call-to-action {}

.bumper--pros-list {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .4);
}

.bumper--pros-list table {
    width: 100%;
    padding: 36px 16em;
}

.bumper--pros-list table tr {
    height: 130px;
}

.bumper--pros-list table tr td {
    padding: 0 30px;
    min-width: 10%;
}

.pro-element {
    vertical-align: middle;
}

.pro-element--wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.pro-element--icon {
    height: 80%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-element--text {
    color: white;
    padding-left: 10px;
}

.pro-element--text h4 {
    margin: 0 0 4px 0;
}

.pro-element--text p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
