.product-highlight--container {
    position: relative;
    width: 100%;
    height: 47.5em;
}

.details {
    position: absolute;
    right: 7.5%;
    display: inline-grid;
    grid-template-columns: 240px 360px;
    align-items: center;
    margin: 15em 0;
    padding: 2.5em 2.5em 2.5em 1.5em;
    background-color: white;
    z-index: 4;
}

.details-image-slider {
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
}

.details .image {
    background-position: center;
    background-size: 70% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

.details-image-slider [data-state="current"] {
    z-index: 4;
    opacity: 1;
    background-color: white;
}

.details-image-slider [data-state="next"] {
    z-index: 5;
    opacity: 0;
    background-color: white;
}

.details-image-slider [data-state="next"].is-sliding-forwards {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.details-image-slider [data-state="will-be-next"] {
    z-index: 5;
    opacity: 0;
    background-color: white;
}

.details-image-slider [data-state="will-be-next"].is-sliding-backwards {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.highlight {
    padding: 2em 1em;
    box-sizing: border-box;
    color: #2A2A2A;
    z-index: 5;
}

.highlight span {
    display: block;
}

.highlight .category {
    font-size: 2em;
    font-weight: 100;
}

.highlight .product-name {
    font-size: 3em;
    font-weight: 200;
}

.product-name-slider {
    position: relative;
    z-index: 4;
    opacity: 1;
}

.product-name-slider span {
    position: absolute;
    top: 0;
    white-space: normal;
    background-color: white;
}

.product-name-slider [data-state="current"] {
    opacity: 1;
    z-index: 4;
}

.product-name-slider [data-state="current"].is-sliding-forwards {
    animation: textForwards 700ms cubic-bezier(0.895, 0.03, 0.685, 0.22) reverse;
}

.product-name-slider [data-state="current"].is-sliding-backwards {
    animation: textBackwards 700ms cubic-bezier(0.895, 0.03, 0.685, 0.22) reverse;
}

.product-name-slider [data-state="will-be-next"] {
    position: unset;
    display: inline-block;
    z-index: 5;
    opacity: 0;
}

.product-name-slider [data-state="next"] {
    z-index: 5;
    opacity: 0;
}

.product-name-slider [data-state="next"].is-sliding-forwards {
    animation: textBackwards 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.product-name-slider [data-state="will-be-next"].is-sliding-backwards {
    animation: textForwards 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes textForwards {
    from { transform: translate3d(-10%, 0, 0); opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes textBackwards {
    from { transform: translate3d(10%, 0, 0); opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

.highlight .call-to-action button {
    margin-top: 1em;
    border: 1px solid #2A2A2A;
    padding: 10px 30px;
    font-size: 1em;
}

.product-highlight--container .details .navigation {
    position: absolute;
    left: -18px;
    bottom: 10px;
    background-color: #2A2A2A;
    color: white;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    text-align: center;
    z-index: 5;
}

.product-highlight--container .details .navigation button {
    background: transparent;
    border: 0;
    color: white;
    padding: 1em;
    font-size: 1em;
}

.image-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-slider .image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    text-align: center;
    background-color: white;
    overflow: hidden;
    border: 0;
}

.image-slider .image img {
    border: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.image-slider [data-state="current"] {
    z-index: 2;
    transform: translate3d(0, 0, 0);
}

.image-slider [data-state="current"] img {
    opacity: 1;
    background-color: white;
}

.image-slider [data-state="current"].is-sliding-forwards {
    transform: translate3d(-100%, 0, 0);
    transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image-slider [data-state="current"].is-sliding-forwards img {
    transform: translate3d(90%, 0, 0);
    transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image-slider [data-state="current"].is-sliding-backwards {
    background-color: white;
    z-index: 1;
    transform: translate3d(25%, 0, 0);
    transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1);

}

.image-slider [data-state="current"].is-sliding-backwards img {
    opacity: .3;
    transform: none;
    transition: opacity 650ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 50ms;
}

.image-slider [data-state="next"] {
    transform: translate3d(25%, 0, 0);
    background-color: white;
    z-index: 1;
}

.image-slider [data-state="next"] img {
    opacity: .3;
}

.image-slider [data-state="next"].is-sliding-forwards {
    transform: translate3d(0, 0, 0);
    transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image-slider [data-state="next"].is-sliding-forwards img {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image-slider [data-state="next"].is-sliding-backwards {
    transform: translate3d(25%, 0, 0);
    z-index: -1;
}

.image-slider [data-state="next"].is-sliding-backwards img {

}

.image-slider [data-state="will-be-next"] {
    transform: translate3d(25%, 0, 0);
    z-index: -1;
}

.image-slider [data-state="will-be-next"] img {
    opacity: .3;
    transform: translate3d(10%, 0, 0);
}

.image-slider [data-state="will-be-next"].is-sliding-forwards {
}

.image-slider [data-state="will-be-next"].is-sliding-forwards img {
    transform: translate3d(0, 0, 0);
    transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image-slider [data-state="will-be-next"].is-sliding-backwards {
    z-index: 2;
    transform: none;
    transition: none;
    animation: slideToCurrentBackwards 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image-slider [data-state="will-be-next"].is-sliding-backwards img {
    opacity: 1;
    transform: none;
    transition: none;
    animation: slideToCurrentBackwardsImg 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes slideToCurrentBackwards {
    from {
        transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideToCurrentBackwardsImg {
    from {
        transform: translate3d(90%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
