.commerce-topbar-button {
  align-items: center;
  background-color: #fff;
  border: 0;
  color: currentColor;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-size: 20px;
  height: 80px;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  width: 80px;
  transition: all ease 150ms;

  &__icon {
    &--active {
      display: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    mix-blend-mode: difference;
    transition: inherit;
    transform: scaleY(0);
    transform-origin: bottom;
  }

  &:hover {
    color: black;

    &::before {
      transform: scaleY(1);
    }
  }
}