@import 'speedwell';

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: $std-font-size;
  overflow-x: hidden;
  width: 100%;
}

button {
  background-color: #FFF;
}

body:not(.signed-in) {
  .speedwell-topbar {
    top: 0;

    @media screen and (max-width: 767px) {
      top: 0;
    }
  }

  .speedwell-frame__content--wide {
      padding: 0;

      .login-container {
        padding: 126px 30px !important;
      }
  }

  .speedwell-search__results,
  .speedwell-main-menu::before {
    top: $speedwell-topbar-size;

    @media screen and (max-width: 767px) {
      top: $speedwell-topbar-size-small;
    }

    @media screen and (max-width: 375px) {
      top: calc(#{$speedwell-topbar-size-small} - 10px);
    }
  }

  #currentHead {
    display: none;
  }

  .speedwell-main-menu__links {
    top: calc(#{$speedwell-topbar-size} - 1px);

    @media screen and (max-width: 767px) {
      top: calc(#{$speedwell-topbar-size-small} - 10px);
    }
  }

  .commerce-cart {
    top: 0 !important;

    &::before {
      top: $speedwell-topbar-size;
    }

    @media screen and (max-width: 767px) {
      &::before {
        top: calc(#{$speedwell-topbar-size-small} - 1px);
      }
    }
  }
}

body.signed-in {
  .speedwell-content {
    padding-top: 80px !important;
  }
}

.speedwell-content {
  &--wide {
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
  }

  .portlet-barebone {
    margin-top: 0 !important;

  }
}

body:not(.is-accessible) {
  // Accommodate on a case-by-case basis.
  // By default, accessibility focus outline
  // is removed after 5s if no Tab is pressed
  // at page load-up.

  *:focus {
    outline: none !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 350px) {
  html {
    width: 126%
  }

  body {
    width: 100%;
    font-size: 12px;
  }
}
