/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

/* ---------- This file allows you to override default styles in one central location for easier upgrade and maintenance. ---------- */

/*
 *  Update: needs new component ProductCard --> needs speedwell-theme impl!
 *  Example: We want to show the product categories in each product card (in the description)
 */

@import 'mixins-and-vars';
@import './components/commerce-button';
@import './components/commerce-cart-item';
@import './components/commerce-compare-table';
@import './components/commerce-icon';
@import './components/commerce-list';
@import './components/commerce-loader';
@import './components/commerce-panel';
@import './components/commerce-quantity-selector';
@import './components/commerce-search';
@import './components/commerce-topbar-button';
@import './components/main-link';
@import './components/minium-card';
@import './components/minium-frame';
@import './components/minium-product-gallery';
@import './components/minium-product-header';
@import './components/minium-product-tiles';
@import './components/minium-products-compare';
@import './components/pagination-bar';
@import './components/product-detail';
@import './components/specification-list';
@import './components/speedwell-breadcrumbs';
@import './components/speedwell-vertical-navbar';
@import './components/speedwell-forms';
@import './components/speedwell-account-management';
@import './components/speedwell-account';
@import './components/speedwell-account-dashboard';
@import './components/speedwell-add-to-cart-button';
@import './components/speedwell-cart';
@import './components/speedwell-cart-item';
@import './components/speedwell-footer';
@import './components/speedwell-frame';
@import './components/speedwell-logo';
@import './components/speedwell-main-menu';
@import './components/speedwell-main-navigation';
@import './components/speedwell-search';
@import './components/speedwell-topbar';
@import './components/speedwell-commerce-suggestions';
@import './components/speedwell-commerce-item';
@import './components/speedwell-checkboxes';
@import './components/speedwell-cart-content';
@import './components/speedwell-order-totals';
@import './components/speedwell-sign-in';
@import './components/landing-page/landing-page';
@import './portlet';
@import './overrides';
@import './test';

html, body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

button {
  background-color: #FFF;
}

body:not(.signed-in) {
  .speedwell-topbar {
    top: 0;

    @media screen and (max-width: 767px) {
      top: 0;
    }
  }

  .speedwell-frame__content--wide {
      padding: 0;
  }

  .speedwell-search__results,
  .speedwell-main-menu::before {
    top: $speedwell-topbar-size;

    @media screen and (max-width: 767px) {
      top: $speedwell-topbar-size-small;
    }

    @media screen and (max-width: 375px) {
      top: calc(#{$speedwell-topbar-size-small} - 10px);
    }
  }

  #currentHead {
    display: none;
  }

  .speedwell-main-menu__links {
    top: calc(#{$speedwell-topbar-size} - 1px);

    @media screen and (max-width: 767px) {
      top: calc(#{$speedwell-topbar-size-small} - 1px);
    }
  }

  .commerce-cart {
    top: 0;

    &::before {
      top: $speedwell-topbar-size;
    }

    @media screen and (max-width: 767px) {
      &::before {
        top: calc(#{$speedwell-topbar-size-small} - 1px);
      }
    }
  }
}

.speedwell-content {
  &--wide {
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
  }

  .portlet-barebone {
    margin-top: 0 !important;

  }
}

@media screen and (min-width: 320px) and (max-width: 350px) {
  html {
    width: 126%
  }

  body {
    width: 100%;
    font-size: 12px;
  }
}
