/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

/* ---------- This file allows you to override default styles in one central location for easier upgrade and maintenance. ---------- */

/*
 *  Update: needs new component ProductCard --> needs speedwell-theme impl!
 *  Example: We want to show the product categories in each product card (in the description)
 */

@import './mixinsAndVars';
@import './components/commerce-button';
@import './components/commerce-cart-item';
@import './components/commerce-compare-table';
@import './components/commerce-icon';
@import './components/commerce-list';
@import './components/commerce-loader';
@import './components/commerce-panel';
@import './components/commerce-quantity-selector';
@import './components/commerce-search';
@import './components/commerce-topbar-button';
@import './components/main-link';
@import './components/minium-card';
@import './components/minium-frame';
@import './components/minium-product-gallery';
@import './components/minium-product-header';
@import './components/minium-product-tiles';
@import './components/minium-products-compare';
@import './components/pagination-bar';
@import './components/product-detail';
@import './components/specification-list';
@import './components/speedwell-account';
@import './components/speedwell-add-to-cart-button';
@import './components/speedwell-cart';
@import './components/speedwell-cart-item';
@import './components/speedwell-footer';
@import './components/speedwell-frame';
@import './components/speedwell-logo';
@import './components/speedwell-main-menu';
@import './components/speedwell-main-navigation';
@import './components/speedwell-search';
@import './components/speedwell-topbar';
@import './components/speedwell-commerce-suggestions';
@import './components/speedwell-commerce-item';
@import './components/speedwell-checkboxes';
@import './portlet';
@import './overrides';
@import './test';

body {
  font-family: 'Open Sans', sans-serif;
}
