$color-bg-alt: #F7F7F8;
$color-bg-dark: #34373E;
$color-bg-medium: #FCFCFC;
$color-bg: #FFF;
$color-disabled: #88E2CC;
$color-border: #ECEEF1;
$color-fg-alt: #7F848D;
$color-fg: #30CFA1;
$color-mood-bad-bg: #FEF7F7;
$color-mood-bad: #EC676A;
$color-mood-neutral: #FEE4B8;
$color-mood-good: #698FD9;
$color-shadow: rgba(92, 94, 94, 0.14);
$color-theme-dark: #2CBE94;
$color-theme-light: #88e1c3;
$color-theme: #30CFA1;
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$liferay-topbar-height-small: 48px;
$liferay-topbar-height: 56px;
$micro-transition: ease 100ms;
$speedwell-shadow: 0 10px 20px $color-shadow;
$topbar-height-small: 70px;
$topbar-height: 80px;
$std-font-size: 14px;
$stroke-alt: #F2F2F2;
$stroke-variant: #353535;
$stroke: #2A2A2A;
$transition: ease 200ms;

//breakpoints

$bp-xxsmall: 376px;
$bp-xsmall: 577px;
$bp-small: 767px;