openapi.authorization.key=e4e33e24-eebf-45a4-bbab-4473a3a767ab
openapi.host.name=api.swaggerhub.com
openapi.host.port=443
openapi.protocol=https
openapi.url=/apis/liferay6/commerce-admin-catalog/v1.0

osgi.module.api.package=com.liferay.headless.commerce.admin.catalog.internal.application
osgi.module.application.name=HeadlessCommerceAdminCatalog
osgi.module.application.base=/commerce-admin-catalog
osgi.module.application.class.name=HeadlessCommerceAdminCatalogApplication
osgi.module.application.security.basic.auth.allowed=true
osgi.module.application.security.oauth2.auth.allowed=true
osgi.module.application.security.guests.allowed=true
osgi.module.author=Alessio Antonio Rendina
osgi.module.bundle.name=Liferay Headless Commerce Admin Catalog
osgi.module.bundle.symbolic.name=com.liferay.headless.commerce.admin.catalog
osgi.module.bundle.version=1.0.0
osgi.module.generator.enabled=true
osgi.module.generator.overwrite.bnd=false
osgi.module.generator.overwrite.gradle=false
osgi.module.generator.overwrite.implementation=false
osgi.module.generator.embed.message.body.converters=false
osgi.module.jaxrs.json.package=com.liferay.headless.commerce.admin.catalog.internal.jaxrs.json
osgi.module.model.package=com.liferay.headless.commerce.admin.catalog.model
osgi.module.name=headless-commerce-admin-catalog
osgi.module.resource.interface.package=com.liferay.headless.commerce.admin.catalog.resource
osgi.module.resource.package=com.liferay.headless.commerce.admin.catalog.internal.resource
osgi.module.root.path=./../headless/headless-commerce