openapi.swagger.authorization.key=e4e33e24-eebf-45a4-bbab-4473a3a767ab
openapi.swagger.host.name=api.swaggerhub.com
openapi.swagger.host.port=443
openapi.swagger.protocol=https
openapi.swagger.url=/apis/liferay6/commerce-admin-site-setting/v1.0

osgi.module.api.package=com.liferay.commerce.headless.admin.site.setting.internal.application
osgi.module.application.name=CommerceHeadlessAdminSiteSetting
osgi.module.application.base=/commerce-admin-site-setting
osgi.module.application.class.name=CommerceHeadlessAdminSiteSettingApplication
osgi.module.application.security.basic.auth.allowed=true
osgi.module.application.security.oauth2.auth.allowed=true
osgi.module.application.security.guests.allowed=true
osgi.module.author=Alessio Antonio Rendina
osgi.module.bundle.name=Liferay Commerce Headless Admin Site Setting
osgi.module.bundle.symbolic.name=com.liferay.commerce.headless.admin.site.setting
osgi.module.bundle.version=1.0.0
osgi.module.generator.overwrite.bnd=false
osgi.module.generator.overwrite.gradle=false
osgi.module.generator.overwrite.implementation=false
osgi.module.generator.embed.message.body.converters=false
osgi.module.jaxrs.json.package=com.liferay.commerce.headless.admin.site.setting.internal.jaxrs.json
osgi.module.model.package=com.liferay.commerce.headless.admin.site.setting.model
osgi.module.name=headless-commerce-admin-site-setting
osgi.module.resource.interface.package=com.liferay.commerce.headless.admin.site.setting.resource
osgi.module.resource.package=com.liferay.commerce.headless.admin.site.setting.internal.resource
osgi.module.root.path=./../headless/headless-commerce