.btn {
    align-content: center;
    align-items: center;
    border: 2px solid transparent;
    background: transparent;
    border-radius: 8px;
    display: inline-flex;
    font-size: 10px;
    font-weight: 900;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 1.25;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    z-index: 2;
    transition: border .2s ease-in;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -2;
    }
  
    &::after {
      transition: all ease-in-out .3s;
    }
  
    &:active,
    &:focus,
    &:focus-within {
      box-shadow: none !important;
      outline: none !important;
    }
  
    &[disabled],
    .disabled {
      cursor: not-allowed;;
    }
  
    &:not([disabled]):not(.disabled):not(.btn-unstyled):not(.btn-link) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: all ease-in-out .3s;
        transform: scaleX(0);
        transform-origin: left;
        z-index: -1;
      }
      
      &:hover::after {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  
    &.btn-unstyled {
      border: none;
      border-radius: 0;
      font-size: inherit;
      font-weight: inherit;
      display: inline-block;
      letter-spacing: normal;
      line-height: inherit;
      padding: 0;
      text-transform: none;
  
      &:focus,
      &:focus-within {
        box-shadow: none;
      }
    }
  
    &.btn-primary {
      border-color: $color-theme;
      background: transparent;
      color: $color-bg;
  
      &:not([disabled]):not(.disabled) {
        border-color: $color-theme;

        &::before {
          background-color: $color-theme;
        }
        
        &::after {
          background-color: $color-theme-dark;
        }

        &:hover,
        &:focus {
            border-color: $color-theme-dark;
        }
      }
  
      &[disabled] {
        border-color: $color-disabled;
  
        &::before {
          background-color: $color-disabled;
        }
      }
    }
  
    &.btn-secondary {
      border-color: $color-theme;
      color: $color-theme;
      background: transparent;
  
      &::before {
        background-color: $color-bg;
      }
  
      &:not([disabled]):not(.disabled) {
        border-color: $color-theme;

        &::after {
          background-color: $color-border;
        }
      }
  
      &[disabled] {
        border-color: $color-disabled;
        color: $color-disabled;
  
        &::before {
          background-color: $color-bg;
        }
      }
    }
  
    &.btn-success {
      border-color: $color-mood-good;
      background: transparent;
      color: $color-bg;
  
      &:not([disabled]):not(.disabled) {
        border-color: $color-mood-good;

        &::before {
          background-color: $color-mood-good;
        }
        
        &::after {
          background-color: darken( $color-mood-good, 10% );
        }

        &:hover,
        &:focus {
            border-color: darken( $color-mood-good, 10% );
        }
      }
  
      &[disabled] {
        border-color: lighten($color-mood-good, 20%);;
  
        &::before {
          background-color: lighten($color-mood-good, 20%);;
        }
      }
    }
  
    &.btn-danger {
      border-color: $color-mood-bad;
      background: transparent;
      color: $color-bg;
  
      &:not([disabled]):not(.disabled) {
        border-color: $color-mood-bad;

        &::before {
          background-color: $color-mood-bad;
        }
        
        &::after {
          background-color: darken( $color-mood-bad, 10% );
        }

        &:hover,
        &:focus {
            border-color: darken( $color-mood-bad, 10% );
        }
      }
  
      &[disabled] {
        border-color: lighten($color-mood-bad, 20%);;
  
        &::before {
          background-color: lighten($color-mood-bad, 20%);;
        }
      }
    }
  
    &.btn-warning {
      border-color: $color-mood-neutral;
      background: transparent;
      color: $color-bg;
  
      &:not([disabled]):not(.disabled) {
        border-color: $color-mood-neutral;

        &::before {
          background-color: $color-mood-neutral;
        }
        
        &::after {
          background-color: darken( $color-mood-neutral, 10% );
        }

        &:hover,
        &:focus {
            border-color: darken( $color-mood-neutral, 10% );
        }
      }
  
      &[disabled] {
        border-color: lighten($color-mood-neutral, 20%);;
  
        &::before {
          background-color: lighten($color-mood-neutral, 20%);;
        }
      }
    }
  
    &.btn-monospaced {
      border-radius: 8px;
    }
  
    &.btn-sm {
      height: 44px;
  
      &.btn-monospaced {
        width: 44px;
      }
    }
  
    &.btn-lg {
      font-size: 12px;
      height: 64px;
  
      &.btn-monospaced {
        width: 64px;
      }
    }
    
    &.btn-fixed {
      min-width: 170px;
    }
  }