@import '../../styles/variables';

.modal-body-iframe {
  position: relative;

  .loader-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: white;
    display: flex;
    align-items: center;
  }
}

.modal-iframe {
  &-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    overflow: auto;
  }

  &-header {
    background-color: white;
    padding: map-get($spacers, 3) map-get($spacers, 4);
    position: sticky;
    top: 0;
    z-index: 100;
  }

  &-content {
    padding: map-get($spacers, 4);
  }

  &-footer {
    align-items: center;
    background-color: white;
    border-top: 1px solid #E7E7ED;
    bottom: 0;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-end;
    left: 0;
    padding: map-get($spacers, 3) map-get($spacers, 4);
    position: fixed;
    right: 0;
  }
}