.modal-body-iframe {
  position: relative;

  .loader-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: white;
    display: flex;
    align-items: center;
  }
}