@import '../../styles/variables';

.modal-body-iframe {
  position: relative;

  .loader-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: white;
    display: flex;
    align-items: center;
  }
}

.modal-iframe {
  &-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    overflow: auto;
  }

  &-header {
    padding: map-get($spacers, 4);
  }

  &-content {
    padding: map-get($spacers, 4);
  }
}
