// liferayzoom core styles

.liferayzoom {
	position: relative;

	// 'Shrink-wrap' the element

	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.liferayzoom img {
	vertical-align: bottom;
}

.liferayzoom.is-loading img {
	cursor: progress;
}

.liferayzoom.is-ready img {
	cursor: crosshair;
}

.liferayzoom.is-error img {
	cursor: not-allowed;
}

.liferayzoom-notice {
	background: #FFF;
	box-shadow: 0 0 10px #888;
	left: 50%;
	line-height: 2em;
	margin: -1em 0 0 -5em;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 10em;
	z-index: 150;
}

.liferayzoom-flyout {
	position:absolute;
	background: #FFF;
	overflow: hidden;
	z-index: 100;

	.liferayzoom.product-detail-image:not(:hover) & {
		display: none;
	}

	img {
		min-height: 100%;
		min-width: 100%;
		object-fit: contain;
	}
}

// liferayzoom layout variations

.liferayzoom--overlay .liferayzoom-flyout {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

.liferayzoom--adjacent .liferayzoom-flyout {
	height: 100%;
	left: 0;
	margin-left: 20px;
	top: 0;
	width: 100%;
}

// Breccia Product Detail

.product-detail-image-widget {
	.product-detail-image {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.liferayzoom--adjacent {
		.liferayzoom-flyout {
			margin-left: 0;

			@include media-breakpoint-up(lg) {
				border: 1px solid #CCC;
				border-radius: $border-radius;
				box-shadow: 0 1px 10px -4px rgba(0, 0, 0, 0.5);
				height: 125%;
				left: 100%;
				margin-left: 1rem;
				top: -12.5%;
				width: 150%;
			}
		}
	}
}