
.info-box {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .action {
    padding: 4px;
    margin-top: -4px;
    margin-right: -4px;
    line-height: 1;
  }
}